---
import Layout from '../layouts/Layout.astro';
import Interpretes from '../components/interpretes.astro';
import AboutTheProject from '../components/AboutTheProject.astro';

---

<Layout title="HISTORIAS DE UNA LUNA" 
	image="https://www.historiasdeunaluna.es/img/historiasdeunalunacover.png" 
	description='Este binomio "lunar", lo forman 50 canciones para voz y piano que recuperan y difunden la obra de Jesús García Leoz y Manuel Palau.' 
	shortDescription='"Luna Clara" y "Luna Muerta"' 
	route='home'>
	<main>
		<div class="container">
			<h1 class="projects_title">HISTORIAS DE UNA LUNA</h1>
			<div id="historiasDeUnaLuna" class="projects">
				<a class="project" href="/lunaclara" class="href">
					<img class="project_image" src="./img/coverlunaclara.jpg" alt="Portada del disco historias de una luna, disco de Mar Morán y Aurelio Viribay con 21 canciones de Jesus García Leoz">
					<div class="mask">
						<p>Conoce más sobre Luna Clara</p>
					</div>
				</a>
				<a class="project" href="/lunamuerta" class="href">
					<img class="project_image" src="./img/coverlunamuerta.jpg" alt="Portada del disco Luna Muerta, disco de Mar Morán y Aurelio Viribay con 29 canciones de Manuel Palau">
					<div class="mask">
						<p>Conoce más sobre Luna Muerta</p>
					</div>
				</a>
			</div>
			<section id="comprarLunaMuerta" class="buy-lunamuerta">
				<p>Tan solo tenemos 300 copias en formato físico de "Luna Muerta" y aún algunas copias de "Luna clara" 
					Si quieres ser uno de las pocas personas en tener el binomio Lunar, no dudes en contactar con nosotros clickando en el siguiente botón.
				</p>
				<a class="buton" href="mailto:info@marmoransoprano.es?subject=Me gustaría adquirir el disco de [Luna Muerta o Luna Clara o ambos]&body=Hola me gustaría adquirir el disco de [Luna Muerta o Luna Clara o ambos]. ¿Como se puede adquirir?">Comprar el binómio Lunar</a>
			</section>
			<AboutTheProject />
			<Interpretes />
		</div>
	</main>
</Layout>
<style>
	main{
		display: flex;
		justify-content: center;
		margin-top: 4rem;
	}
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.projects_title{
		font-family: 'Nanum Myeongjo', serif;
		text-align: center;
		margin: 4rem 0;
		color: #fff;
		font-weight: 300;
		font-size: 2rem;
	}
	.buy-lunamuerta{
			width: 400px;
			height: 400px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-top: 2rem:
		}
		.buton{
			z-index: 10;
			display: block;
			color: #fff;
			border: solid 1px;
			padding: 2rem;
			width: 175px;
			text-align: center;
			text-decoration: none;
			margin: 3rem;
			transition: background-color 0.5s;
		}
		.buton:hover{
			background-color: #fff;
			color: #000;
		}
	.projects{
    	display: flex;
    	flex-direction: row;
    	width: 100%;
		justify-content: center;
	}
	.project {
		width: 40%;
		display: inline-block;
		position: relative;
		overflow: hidden;
		transition: transform 0.3s;
		margin: 1rem;
}

	.project:hover {
		transform: scale(1.1);
	}
	.project_image{
		width: 100%;
	}
	.mask {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.8);
		transition: opacity 0.5s;
		color: #fff
	}
	.mask:hover {
		opacity: 1;
	}

</style>