---
import Layout from '../layouts/Layout.astro';
import HeroClara from '../components/HeroClara.astro';
import ProgramNotes from '../components/ProgramNotes.astro';
import MakingOff from '../components/MakingOff.astro';
import Interpretes from '../components/interpretes.astro';
import Leters from '../components/leters.astro';
---

<Layout title="Welcome to Astro.">
	<main class="luna-muerta">
		<HeroClara />
		<MakingOff />
		<ProgramNotes />
		<Interpretes />
		<Leters />
	</main>
</Layout>
<style>
    html {
        background: #50525e;
    }
	.luna-muerta{
		
	}
</style>