---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProgramNotes from '../components/ProgramNotes.astro';
import MakingOff from '../components/MakingOff.astro';
import Calendar from '../components/calendar.astro';
import Interpretes from '../components/interpretes.astro';
import Leters from '../components/leters.astro';
---

<Layout title="Welcome to Astro.">
	<main class="luna-muerta">
		<Hero />
		<MakingOff />
		<Calendar />
		<ProgramNotes />
		<Leters />
	</main>
</Layout>
<style>
	.luna-muerta{

	}
</style>