---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProgramNotes from '../components/ProgramNotes.astro';
import MakingOff from '../components/MakingOff.astro';
import Calendar from '../components/calendar.astro';
import Interpretes from '../components/interpretes.astro';
import Leters from '../components/leters.astro';
---

<Layout title="Luna Muerta" description='29 canciones de Manuel Palau en castellano, este proyecto es el segundo disco de Mar Morán y Aurelio Viribay donde presentan 29 canciones del compositor Valencian, con este album cierran el binomio "Luna Clara" y "Luna Muerta" que componen este proyecto "Historias de una Luna" donde nos encontramos con 50 canciones no grabadas de dos importantes compositores españoles, Manuel Palau y Jesús García Leoz' shortDescription='29 Canciones de Manuel Palau en castellano'>
	<main class="luna-muerta">
		<Hero />
		<!-- <MakingOff /> -->
		<Calendar />
		<ProgramNotes />
		<Leters />
	</main>
</Layout>
<style>
	.luna-muerta{

	}
</style>