---
import Layout from '../layouts/Layout.astro';
import HeroClara from '../components/HeroClara.astro';
import ProgramNotes from '../components/ProgramNotes.astro';
import MakingOff from '../components/MakingOff.astro';
import AwardsClara from '../components/AwardsClara.astro';
import Leters from '../components/leters.astro';
import News from '../components/News.astro';
---

<Layout title="Welcome to Astro.">
	<main class="luna-muerta">
		<HeroClara />
		<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0lRQXLzG8iJ8rt6E4PEasU?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		<MakingOff />
		<News />
		<ProgramNotes />
		<Leters />
	</main>
</Layout>
<style>
    html {
        background: #50525e;
    }
	.luna-muerta{
		
	}
</style>