<section id="aboutHistoriasDeUnaLuna" class="about-project">
    <h1 class="title"> Sobre el proyecto</h1>
    <p>Historias de una luna, nace tras el éxito de "Luna Clara"; disco que además ha sido galardonado con el premio 'Melómano de Oro', y que continua con el nuevo lanzamiento discográfico "Luna Muerta". Este binmio "lunar", lo forman 50 canciones para voz y piano que recuperan y difunden la obra de dos compositores claves en el género de la canción de concierto española:</p>
    <p>Jesús García Leoz y Manuel Palau.</p>
</section>
<style>
    .about-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2rem;
    }
</style>