<section id="sobreHistoriasDeUnaLuna" class="about-project">
    <h1 class="title"> Sobre el proyecto</h1>
    <p>Historias de una luna nace tras el éxito de "Luna Clara", disco que ha sido galardonado 
        con el premio 'Melómano de Oro' y que tiene su continuación con el lanzamiento discográfico 
        "Luna Muerta". Las cincuenta canciones que van desde "Luna clara" hasta "Luna muerta", primera y 
        última canción, respectivamente, de los dos trabajos discográficos a los que dan nombre, suponen 
        un apasionante viaje de recuperación y difusión de la obra de dos compositores claves en el género 
        de la canción de concierto española: <b>Jesús García Leoz y Manuel Palau</b>, protagonistas de este binomio
         "lunar" que les invitamos a escuchar.</p>
</section>
<style>
    .about-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2rem;
    }
</style>