<section id="aboutHistoriasDeUnaLuna" class="about-project">
</section>
<style>
    .about-project {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>