<section id="aboutHistoriasDeUnaLuna" class="about-project">
    <h1 class="title">Sobre el Proyecto</h1>
</section>
<style>
    .about-project {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>