<section id="calendario" class="calendar">
    <h1 class="title">Calendario</h1>
    <div class="container">
        <div class="item">
            <div class="date">
                <p class="day">7</p>
                <p class="month">Nov</p>
            </div>
            <div class="info">
                <p class="name">Presentación oficial "Luna Muerta"  </p>
                <p class="city">Entrada Libre</p>
                <p class="theater">Sala Manuel de Falla (SGAE)</p>
                <p class="city">Madrid</p>
                <p class="hour">19:00</p>
            </div>
            <a href="#" class="btn">+info</a>
        </div>
        <div class="item">
            <div class="date">
                <p class="day">11</p>
                <p class="month">Nov</p>
            </div>
            <div class="info">
                <p class="name">Historias de Una Luna: Concierto de voz y piano</p>
                <p class="city">Reserva tu entrada escribiendo a el correo: <a class="link" href="mailto:salatrajanomerida@gmail.com">salatrajanomerida@gmail.com </a></a></p>
                <p class="theater">Sala Trajano</p>
                <p class="city">Mérida</p>
                <p class="hour">20:30</p>
            </div>
            <a href="http://cemart.juntaex.es/trajano_auditorio/index.html" target="_blank" class="btn">+info</a>
        </div>
        <div class="item">
            <div class="date">
                <p class="day">1</p>
                <p class="month">Mar</p>
                <p class="month">2024</p>
            </div>
            <div class="info">
                <p class="name">Historias de Una Luna: Concierto de voz y piano</p>
                <p class="theater">El Ateneo</p>
                <p class="city">Sevilla</p>
            </div>
        </div>
    </div>
</section>
<style>
.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0 ;
    border-bottom: 1px solid;
}
.date{
    padding: 1rem;
    text-align: center;
}
.info {}
.name{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}
.theater, .city, .hour{
    font-size: 16px;
    margin: 0;
    padding: 2px 10px;

}
.btn{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}
</style>