---
import MusicPlatformLink from "./MusicPlatformLink.astro";

---

<section id="hero" class="hero">
  <div class="mask">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <div class="caratula">
    <div class="caratula_description fadeIn delayed-2">
      <p>CANCIONES PARA VOZ Y PIANO</p>
      <p>DE MANUEL PALAU</p>
    </div>
    <img class="caratula_title fadeIn delayed-1" src="./img/LunaMuertaTitle.png" alt="Texto Luna Muerta">
    <img class="caratula_image" src="./img/LunaMusicos.png" alt="Luna con sombras de una soprano y un pianista">
    <div class="caratula_artists">
      <p class="fadeIn delayed-3"><span>Mar Moran</span> (Soprano)</p>
      <p class="fadeIn delayed-4"><span>Aurelio viribay</span> (Piano)</p>
    </div>
  </div>
  <MusicPlatformLink />
</section>
<style>
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  img{
    width: 100%;
  }
  .caratula {
    max-width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .caratula_title {
    position: absolute;
    top: 0rem;
    width: 75%;
    z-index: 1;
  }
  .caratula_description{
    text-align: center;
    position: absolute;
    top: -2.5rem;
    font-size: 2.5vw;
    font-weight: 100;
    color: #ffff;
  }
  .caratula_artists{
    position: absolute;
    bottom: -1.5rem;
    font-size: 2.5vw;
    font-weight: lighter;
    color: #ffff;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transaparent;
    z-index: 3;
  }
  .star{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    border-bottom: 5px solid white; /* You can change the color here */
    margin: 2.5px auto;
    z-index: 3
  }
  .star::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    border-top: 5px solid white; /* You can change the color here */
    position: absolute;
    top: 1.75px;
    left: -2.5px;
}
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  .fadeIn {
    opacity: 0;
}
  .delayed-1 {
      animation: fadeIn 1.5s ease-in-out 1s forwards; /* Aquí establecemos un retraso de 2 segundos */
  }
  .delayed-2 {
      animation: fadeIn 1.5s ease-in-out 2s forwards; /* Aquí establecemos un retraso de 2 segundos */
  }
  .delayed-3 {
      animation: fadeIn 1.5s ease-in-out 3s forwards; /* Aquí establecemos un retraso de 2 segundos */
  }
  .delayed-4 {
      animation: fadeIn 1.5s ease-in-out 4s forwards; /* Aquí establecemos un retraso de 2 segundos */
  }
  .delayed-5 {
      animation: fadeIn 1.5s ease-in-out 5s forwards; /* Aquí establecemos un retraso de 2 segundos */
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (min-width: 600px) {
  .caratula_description{
    font-size: 1.2rem;
  }
  .caratula_artists{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .caratula_description{
    font-size: 1rem;
  }
  .caratula_artists{
    font-size: 1rem;
  }
}
</style>
<script is:inline>
  // Obtén todos los elementos con la clase '.star'
const stars = document.querySelectorAll('.star');


// Aplica las posiciones a los elementos '.star'
stars.forEach((star, index) => {
  const randomTopPercentage =5 + Math.random() * 100 - 5;
  const randomLeftPercentage = Math.random() < 0.5 ? Math.random() * 30 : 60 + Math.random() * 30;
  const randomAnimationDuration = 3 + Math.random() * 3;

  star.style.animation = `blink ${randomAnimationDuration}s infinite`;
  star.style.left = randomLeftPercentage + '%';
  star.style.top = randomTopPercentage + '%';
});
</script>