---
import AwardsClara from "./AwardsClara.astro";
import MusicPlatformClaraLink from "./MusicPlatformClaraLink.astro";

---

<main class="hero">
  <div class="container">
    <div class="caratula">
      <img class="caratula_image" src="./img/coverlunaclara.jpg" alt="Caratula del disco luna clara">
      <MusicPlatformClaraLink />
    </div>
    <AwardsClara />
  </div>
</main>
<style>
  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;
  }
  .hero .container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .caratula{
    width: 50%;
    position: relative;
  }
  img{
    width: 100%;
  }
</style>