<section class="interpreter">
    <h1 class="title">Artistas</h1>
    <div class="container">
        <div class="artist justify">
            <img class="right" src="./img/MarMoran.jpg" alt="Fotografía de la biografía de Mar donde aparece Mar con un vestido naranja">
            <div class="bio">
                <h3 class="subtitle">Mar Morán</h3>
                <div class="content">
                    <p>Comienza su formación vocal en el Conservatorio Profesional de Música “ Victoria de
                        los Ángeles” de Madrid con Elena Valdelomar, donde f inaliza sus estudios con Premio
                        Fin de Grado y Premio Extraordinario de Música de la Comunidad de Madrid. Termi-
                        na sus estudios superiores en la Escuela Superior de Canto de Madrid con Matrícula
                        de Honor, Premio Fin de Carrera y becada por Juventudes Musicales. Más tarde, fue
                        seleccionada por la International Opera Academy de Bélgica para participar en su
                        programa Opera Studio. Ha recibido clases magistrales de cantantes de primer nivel
                        como Mariella Devia, Stéphanie d’Oustrav, Charlotte Margiono, Dietrich Henschel o
                        Plácido Domingo.</p>
                    <p>Ha pisado las tablas de teatros como el Gran Teatre del Liceu, Teatro Real de Ma-
                        drid, Teatro Campoamor de Oviedo, Gran Teatro de Cáceres, Teatro “ Vlaamse Opera
                        Ghent” o Lithuanian National Opera and Ballet Theatre (Vilna). Ha interpretado roles
                        protagónicos como la Reina de la Noche de la “Flauta Mágica” de Mozart, Gilda en la
                        ópera “Rigoletto” de Verdi o el rol de Lauretta en la ópera “Gianni Schicchi” de Pucci-
                        ni.</p>
                    <p>Mar ha recibido un sinf ín de reconocimientos en diferentes concursos internaciona-
                        les y nacionales como el Concurs Internacional de Cant “Martín y Soler ” de Valencia,
                        Certamen Internacional de Jóvenes Intérpretes “Pedro Bote”, “Concurs Internacional
                        para Jovens Intérpretes” de Portugal, Concurso “Compostela Lírica” en Santiago de
                        Compostela, Concurso Internacional de Canto “Ciudad de Logroño”, Concurs Interna-
                        cional “Les Corts” de Barcelona, Concurso Internacional de Canto Lírico de Lousada,
                        Concorso Internazionale “Giulio Neri” (Italia) o el Concurso Internacional “ Virgilijus
                        Noreika for singers” de Vilna (Lituania), entre muchos otros.</p>
                </div>
            </div>
        </div>
        <div class="artist justify">
            <div class="bio">
                <h3 class="subtitle">Aurelio Viribay</h3>
                <div class="content">
                    <p>Especializado en el acompañamiento de cantantes, ha actuado en recitales en di-
                        ferentes países junto a cantantes como Walter Berry, Annalisa Stroppa, María Bayo,
                        Ainhoa Arteta, Celso Albelo, Alicia Nafé, Saioa Hernández, Ángeles Blancas, Ofelia
                        Sala, Ruth Rosique, Ana María Sánchez, Ruth Iniesta, Sandra Ferrández, Carmen So-
                        lís, Cristina Toledo, Carmen Buendía, entre muchos otros. Su discograf ía incluye CDs
                        con cantantes como Raquel Lojendio, Mar Morán, Lola Casariego, Marta Knörr, Pablo
                        García-López, Guzmán Hernando, Gabriel Alonso y con el Cuarteto Vocal Cavatina, en
                        sellos como Odradek Records, Columna Música, Cezanne Producciones, Anaga Clas-
                        sics o Stradivarius. Ha sido profesor de Repertorio Vocal en la Universidad de Música y
                        Arte Dramático de Viena y en la Universidad de Música y Artes de la Ciudad de Viena,
                        y actualmente es catedrático en la Escuela Superior de Canto de Madrid, habiendo
                        asimismo colaborado como pianista acompañante en cursos impartidos por Thomas
                        Quasthoff en la Universidad Mozarteum de Salzburgo, Walter Berry en Austria y Tere-
                        sa Berganza en la Escuela Superior de Música Reina Sof ía de Madrid. Ha obtenido el
                        Premio Extraordinario de Doctorado de la Universidad Rey Juan Carlos de Madrid con
                        la tesis “La Canción de Concierto en el Grupo de los Ocho de Madrid”.</p>
                </div>
            </div>
            <img class="left" src="./img/AurelioViribay.jpg" alt="Fotografía de la biografía de Aurelio Vribay">
        </div>

    </div>
</section>

<style>
    .interpreter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .artist{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin: 2rem 0;
    }
    .right {
        margin-right: 2rem;
    }
    .left {
        margin-left: 2rem;
    }
    .artist img{
        max-width: 350px;
        object-fit: cover;
        margin: 1rem
    }
    .bio .content{
        width: 100%;
        max-width: 550px;
        font-size: 15px;
    }
    .bio .subtitle{
        font-size: 20px;
        padding: 0;
        margin: 1rem 0;

    }
</style>