
<section id="letras" class="leters">
  <div class="container">
  <h1 class="title">Letras</h1>
  <ul class="cicle">
    <h2 class="cicle_name">CINCO CANCIONES</h2>
    <p class="author">(Juan Paredes)</p>
    <li class="song">
      <h3 class="song_title">1. Luna Clara</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Luna clara,</p>
          <p>¿por qué me miras así?</p>
          <p>luna clara del enero</p>
          <p>si no voy por el sendero</p>
          <p>ni tú vas ya tras de mí.</p>

          <p>¡Ay luna clara, lunera,</p>
          <p>tan alta por compañera!</p>
          <p>Ni caballo ni camino,</p>
          <p>para qué lo quiero ya,</p>
          <p>llorando está mi destino,</p>
          <p>lo que jamás volverá.</p>

          <p>Luna clara,</p>
          <p>¡ay luna clara, lunera,</p>
          <p>ay qué solo,</p>
          <p>qué solo y sin compañera!</p>

          <p>Mi niña se fue en el viento,</p>
          <p>torres, ¿la visteis pasar?</p>
          <p>Con ella mi pensamiento</p>
          <p>también se me fue detrás.</p>

          <p>¡Ay luna clara, lunera,</p>
          <p>¿por qué me miras así?</p>
          <p>si sólo te tengo a ti,</p>
          <p>sólo a ti por compañera.</p>
        </div>
        <div class="song_text">
          <p class="lang">(EN)</p>
          <p>Clear moon,</p>
          <p>Why look at me so?</p>
          <p>Clear January moon,</p>
          <p>If I don’t go down the lane</p>
          <p>Or you come after me.</p>
          <p>Oh, clear moony moon,</p>
          <p>So tall a companion!</p>
          <p>Neither horse nor pathway,</p>
          <p>Why do I need them?</p>
          <p>My fate lies a-weeping,</p>
          <p>For it will never return.</p>
          <p>Clear moon,</p>
          <p>Oh, clear moony moon,</p>
          <p>Oh, how lonely you are,</p>
          <p>Lonely, with no companion!</p>
          <p>My lass went in the wind,</p>
          <p>Towers, did you see her pass by?</p>
          <p>With her all my thoughts</p>
          <p>Stayed there also behind.</p>
          <p>Oh, clear moony moon,</p>
          <p>Why look at me so?</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">2. Mañana, como es de fiesta</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Mañana, como es de fiesta,</p>
          <p>temprano vendré a buscarte</p>
          <p>con la camisita nueva</p>
          <p>que me ha comprado mi madre.</p>
          <p>¡Ay la mi madre!</p>

          <p>Ponte corpiño de seda</p>
          <p>y las enaguas de encaje,</p>
          <p>y esos zapatos de raso</p>
          <p>que te dan tanto realce,</p>
          <p>tanto realce.</p>

          <p>Yo con mi camisa blanca,</p>
          <p>tú con falda de volantes,</p>
          <p>yo con pañuelo de seda,</p>
          <p>tú con peineta de nácar</p>
          <p>llevada al aire.</p>

          <p>Mañana, como es de fiesta,</p>
          <p>alegre vendré a buscarte,</p>
          <p>mi madre me ha dado un duro</p>
          <p>para que te lleve al baile.</p>
          <p>¡Ay la mi madre!</p>
          <p>Para que te lleve a ti</p>
          <p>antes que a nadie.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Tomorrow is a holiday,</p>
            <p>I’ll come for you early</p>
            <p>In my best new shirt</p>
            <p>Mother has bought me.</p>
            <p>Oh, my mother!</p>

            <p>Put on your best silk bodice</p>
            <p>And your lace petticoat,</p>
            <p>And those satin shoes</p>
            <p>That suit you so well,</p>
            <p>Suit you so well.</p>

            <p>Me in my white shirt,</p>
            <p>You in your frilled skirt,</p>
            <p>Me with my silk kerchief,</p>
            <p>You with your pearl hair comb</p>
            <p>For all to see.</p>

            <p>Tomorrow is a holiday</p>
            <p>Happy I’ll come for you,</p>
            <p>Mother gave me money</p>
            <p>To take you to the dance.</p>
            <p>Oh, my mother!</p>
            <p>So I may take you</p>
            <p>Before another does.</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">3. La niña sola</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Lloraba la niña</p>
          <p>¡con cuánto dolor!</p>
          <p>lloraba la niña,</p>
          <p>sus penas de amor.</p>
          
          <p>Lloraba la ausencia</p>
          <p>de aquel que la dio</p>
          <p>palabras de amores</p>
          <p>y después marchó.</p>
          <p>¡Ay amor, amor,</p>
          <p>si tú no te dueles</p>
          <p>mira qué dolor!</p>
          
          <p>Llorando la niña</p>
          <p>sus penas de amor,</p>
          <p>la deja la luna</p>
          <p>la sorprende el sol,</p>
          <p>llorando la ausencia</p>
          <p>de aquel que la dio</p>
          <p>palabras de amores</p>
          <p>y después marchó.</p>
          
          <p>Lloraba la niña</p>
          <p>sus penas de amor,</p>
          <p>lloraba la niña,</p>
          <p>con cuánto dolor.</p>
          <p>¡Ay amor, amor!</p>          
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The girl lay weeping</p>
            <p>How bitterly she wept!</p>
            <p>The girl lay weeping</p>
            <p>For her broken heart.</p>
            
            <p>She wept for the absence</p>
            <p>Of him who promised her</p>
            <p>Those many words of love</p>
            <p>And then left.</p>
            <p>Oh love! Oh love!</p>
            <p>If it doesn’t disturb you,</p>
            <p>Just look at my grief!</p>
            
            <p>The girl lay weeping</p>
            <p>For a broken heart,</p>
            <p>The moon abandons her</p>
            <p>The sun startles her,</p>
            <p>Weeping the absence</p>
            <p>Of him who promised her</p>
            <p>Those many words of love</p>
            <p>And then left.</p>
            
            <p>The girl was weeping</p>
            <p>For a broken heart,</p>
            <p>The girl was weeping,</p>
            <p>How bitterly she wept!</p>
            <p>Oh love! Oh love!</p>            
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">4. Romance</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Madre, madre</p>
          <p>dónde irá ese caballero</p>
          <p>con las espuelas de plata</p>
          <p>y el caballito tan negro.</p>
          
          <p>Ese caballero</p>
          <p>que todas las noches</p>
          <p>¡ay! me quita el sueño.</p>
          
          <p>Cantando por los caminos,</p>
          <p>cantando por los senderos,</p>
          <p>cantando madre, cantando</p>
          <p>lo que me canta a mí dentro.</p>
          <p>¡Ay! mi caballero,</p>
          <p>que todas las noches</p>
          <p>me quitas el sueño,</p>
          
          <p>dime ese cantar</p>
          <p>que mi corazón</p>
          <p>ya penando está.</p>
          
          <p>Este cantar, niña mía,</p>
          <p>no te lo puedo decir,</p>
          <p>sólo digo mi canción</p>
          <p>al que se quiera venir,</p>
          <p>al que conmigo se viene,</p>
          <p>al que conmigo se va,</p>
          <p>así sólo niña mía,</p>
          <p>sólo así digo el cantar.</p>
          
          <p>Madre, madre,</p>
          <p>dónde irá ese caballero</p>
          <p>con las espuelas de plata</p>
          <p>y el caballito tan negro.</p>
          
          <p>Ese caballero</p>
          <p>que todas las noches</p>
          <p>¡ay! me quita el sueño.</p>          
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Mother, Oh Mother,</p>
            <p>Whither goes that knight</p>
            <p>With his silver spurs</p>
            <p>And his horse so black.</p>
            <p>That knight</p>
            <p>Who each night,</p>
            <p>Alas! steals my sleep.</p>
            
            <p>Singing down the lanes,</p>
            <p>Singing down pathways,</p>
            <p>Singing, Mother, and singing</p>
            <p>What I feel deep inside.</p>
            <p>Oh! my knight,</p>
            <p>Who each night</p>
            <p>Steals my sleep,</p>
            <p>Tell the song</p>
            <p>That my heart</p>
            <p>Grieves for so.</p>
            
            <p>This song, my lass,</p>
            <p>I cannot tell you,</p>
            <p>I only tell my song</p>
            <p>To whoever wants to come,</p>
            <p>To whoever comes with me,</p>
            <p>to whoever leaves with me,</p>
            <p>So only, my lass,</p>
            <p>Only so shall I sing.</p>
            
            <p>Mother, Oh Mother,</p>
            <p>Whither goes that knight</p>
            <p>With his silver spurs</p>
            <p>And his horse so black.</p>
            <p>That knight</p>
            <p>Who each night,</p>
            <p>Alas! steals my sleep.</p>            
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">5. Pregón</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>¿Quién me quiere comprar?</p>
          <p>Zarcillos y patenas,</p>
          <p>quién me quiere comprar,</p>
          <p>que traigo lo mejor</p>
          <p>que había en la ciudad.</p>
          
          <p>¿Quién me quiere comprar?</p>
          <p>Encajes y volantes,</p>
          <p>collares de cristal.</p>
          <p>Todo eso vendo yo,</p>
          <p>vendo eso y mucho más.</p>
          
          <p>¿Quién me quiere comprar?</p>
          <p>Mocitas de mañana,</p>
          <p>mocitas por casar,</p>
          <p>a ver quién de vosotras,</p>
          <p>quién me quiere comprar.</p>
          
          <p>Doy por poco dinero</p>
          <p>sedas, plata y coral,</p>
          <p>que traigo lo mejor</p>
          <p>que había en la ciudad.</p>
          
          <p>¿Quién me quiere comprar?</p>          
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Who’ll buy my wares?</p>
            <p>Earrings and medallions</p>
            <p>Who’ll buy my wares?</p>
            <p>For I bring the best</p>
            <p>You’ll find in town.</p>
            
            <p>Who’ll buy my wares?</p>
            <p>Lace and frills,</p>
            <p>Crystal beads.</p>
            <p>All that I sell,</p>
            <p>I sell and lots more.</p>
            
            <p>Who’ll buy my wares?</p>
            <p>Tomorrow’s lasses,</p>
            <p>Lasses to wed,</p>
            <p>Which one of you,</p>
            <p>Who’ll buy my wares?</p>
            
            <p>I’ll sell for so little</p>
            <p>Silver, silk and coral,</p>
            <p>As I bring the best</p>
            <p>You’ll find in town.</p>
            
            <p>Who’ll buy my wares?</p>            
        </div>
        
      </div>
    </li>
  </ul>
  <ul class="cicle">
    <h2 class="cicle_name">TRÍPTICO DE CANCIONES</h2>
    <p class="author">(Federico García Lorca)</p>
    <li class="song">
        <h3 class="song_title">1. Por el aire van</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Por el aire van</p>
            <p>los suspiros de mi amante.</p>
            <p>Por el aire van,</p>
            <p>van por el aire.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Through air they go</p>
            <p>My lover’s sighs.</p>
            <p>Through air they go,</p>
            <p>They go through air.</p>            
          </div>
        </div>
    </li>
    <li class="song">
        <h3 class="song_title">2. De Cádiz a Gibraltar</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>De Cádiz a Gibraltar,</p>
            <p>¡qué buen caminito!</p>
            <p>El mar conoce mi paso</p>
            <p>por los suspiros.</p>
            <p>¡Ay, muchacha, muchacha,</p>
            <p>cuánto barco en el puerto de Málaga!</p>
            
            <p>De Cádiz a Sevilla,</p>
            <p>¡cuánto limoncito!</p>
            <p>El limonar me conoce</p>
            <p>por los suspiros.</p>
            <p>¡Ay, muchacha, muchacha,</p>
            <p>cuánto barco en el puerto de Málaga!</p>            
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>From Cádiz to Gibraltar,</p>
            <p>What a lovely road!</p>
            <p>The sea knows my steps</p>
            <p>By my sighs.</p>
            <p>Oh, my girl, Oh, my girl,</p>
            <p>So many boats on Málaga quay!</p>
            
            <p>From Cádiz to Seville,</p>
            <p>So many little lemons!</p>
            <p>The lemon tree knows me</p>
            <p>By my sighs.</p>
            <p>Oh, my girl, Oh, my girl,</p>
            <p>So many boats on Málaga quay!</p>            
          </div>
        </div>
    </li>
    <li class="song">
      <h3 class="song_title">3. A la flor, a la pitiflor</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Tengo los ojos puestos</p>
          <p>en un muchacho</p>
          <p>delgado de cintura,</p>
          <p>moreno y alto.</p>
          <p>A la flor,</p>
          <p>a la pitiflor,</p>
          <p>a la verde oliva...</p>
          <p>A los rayos verdes del sol</p>
          <p>se peina mi niña.</p>
          
          <p>En los olivaritos,</p>
          <p>niña, te espero,</p>
          <p>con un jarro de vino</p>
          <p>y un pan casero.</p>
          <p>A la flor,</p>
          <p>a la pitiflor,</p>
          <p>a la verde oliva...</p>
          <p>A los rayos verdes del sol</p>
          <p>se peina mi niña.</p>                     
        </div>
        <div class="song_text">
          <p class="lang">(EN)</p>
          <p>I have my eyes placed,</p>
          <p>Placed on a lad,</p>
          <p>Slim of waist,</p>
          <p>Tall and brown.</p>
          <p>To the flower,</p>
          <p>The little flower,</p>
          <p>To the green olive...</p>
          <p>To the sun’s green rays</p>
          <p>My girl combs her hair.</p>
          
          <p>In the olive groves there,</p>
          <p>I’ll wait for you, my girl,</p>
          <p>With a jug full of wine</p>
          <p>And a loaf made at home.</p>
          <p>To the flower,</p>
          <p>The little flower,</p>
          <p>To the green olive...</p>
          <p>To the sun’s green rays</p>
          <p>My girl combs her hair.</p>                    
        </div>
      </div>
  </li>
  </ul>
  <ul class="cicle">
      <h2 class="cicle_name">SEIS CANCIONES</h2>
      <p class="author">(Antonio Machado)</p>
      <li class="song">
          <h3 class="song_title">1. Canción galante</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Tus ojos me recuerdan</p>
              <p>las noches de verano,</p>
              <p>negras noches sin luna,</p>
              <p>orilla al mar salado,</p>
              <p>y el chispear de estrellas</p>
              <p>del cielo negro y bajo.</p>
              <p>Tus ojos me recuerdan</p>
              <p>las noches de verano.</p>
              
              <p>Y tu morena carne,</p>
              <p>y los trigos requemados,</p>
              <p>y el suspirar de fuego</p>
              <p>de los maduros campos.</p>
              
              <p>Tu hermana es clara y débil</p>
              <p>como los juncos lánguidos,</p>
              <p>como los sauces tristes,</p>
              <p>como los linos glaucos.</p>
              
              <p>Tu hermana es un lucero</p>
              <p>en el azul lejano...</p>
              <p>Y es alba y aura fría</p>
              <p>sobre los pobres álamos</p>
              <p>que en las orillas tiemblan</p>
              <p>del río humilde y manso.</p>
              <p>Tu hermana es un lucero</p>
              <p>en el azul lejano.</p>
              <p>De tu morena gracia,</p>
              <p>de tu soñar gitano,</p>
              <p>de tu mirar de sombra</p>
              <p>quiero llenar mi vaso.</p>
              <p>Me embriagaré una noche</p>
              <p>de cielo negro y bajo,</p>
              <p>para cantar contigo,</p>
              <p>orilla al mar salado,</p>
              <p>una canción que deje</p>
              <p>cenizas en los labios...</p>
              <p>De tu mirar de sombra</p>
              <p>quiero llenar mi vaso.</p>

              <p>Para tu linda hermana</p>
              <p>arrancaré los ramos</p>
              <p>de florecillas nuevas</p>
              <p>a los almendros blancos,</p>
              <p>en un tranquilo y triste</p>
              <p>alborear de marzo.</p>
              <p>Los regaré con agua</p>
              <p>de los arroyos claros,</p>
              <p>los ataré con verdes</p>
              <p>junquillos del remanso...</p>
              <p>Para tu linda hermana</p>
              <p>yo haré un ramito blanco.</p>
     
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Your eyes remind me</p>
              <p>Of summer nights,</p>
              <p>Black moonless nights,</p>
              <p>Beside the salty sea</p>
              <p>And twinkling stars</p>
              <p>In a low black sky.</p>
              <p>Your eyes remind me</p>
              <p>Of summer nights</p>
              
              <p>And your dark brown skin</p>
              <p>And the scorched wheat-fields</p>
              <p>And the sighs of the fire</p>
              <p>From the harvest fields.</p>
              
              <p>Your sister’s pale and weak</p>
              <p>Like languid reeds,</p>
              <p>Like sad willows,</p>
              <p>Like pale green flax.</p>
              
              <p>Your sister’s the morning star</p>
              <p>In the distant blue ...</p>
              <p>She is dawn and cold air</p>
              <p>Above the poor poplars</p>
              <p>That shiver on the banks</p>
              <p>Of the meek and humble river.</p>
              <p>Your sister’s the morning star</p>
              <p>In the distant blue.</p>      
              <p>With your brown grace,</p>
              <p>With your gypsy dreams,</p>
              <p>With your shaded gaze</p>
              <p>I want to fill my glass.</p>
              <p>Enraptured one night</p>
              <p>Under a low black sky</p>
              <p>I will sing with you</p>
              <p>Beside the salty sea</p>
              <p>A song that will leave</p>
              <p>Ashes on your lips ...</p>
              <p>With your shaded gaze</p>
              <p>I want to fill my glass.</p>

              <p>For your fair sister</p>
              <p>I will strip the boughs</p>
              <p>Of the white almonds,</p>
              <p>Of their fresh blooms,</p>
              <p>In a calm and sad</p>
              <p>Daybreak of March.</p>
              <p>I’ll moisten them with water</p>
              <p>From the clear brooklets,</p>
              <p>I’ll gather them with green</p>
              <p>Reeds from their quiet pools ...</p>
              <p>And for your fair sister</p>
              <p>I’ll make a white bouquet.</p>
        
            </div>        
          </div>
      </li>
      <li class="song">
          <h3 class="song_title">2. San Cristobalón</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Desde mi ventana</p>
              <p>¡campo de Baeza,</p>
              <p>a la luna clara!</p>
              <p>¡Montes de Cazorla,</p>
              <p>Aznaitín y Mágina!</p>
              <p>¡De luna y de piedra</p>
              <p>también los cachorros</p>
              <p>de Sierra Morena!</p>
              <p>Sobre el olivar,</p>
              <p>se vio a la lechuza</p>
              <p>volar y volar.</p>
              <p>Campo, campo, campo.</p>
              <p>Entre los olivos,</p>
              <p>los cortijos blancos.</p>
              <p>Y la encina negra,</p>
              <p>a medio camino</p>
              <p>de Úbeda a Baeza.</p>
              <p>Por un ventanal,</p>
              <p>entró la lechuza</p>
              <p>en la catedral.</p>
              <p>San Cristobalón</p>
              <p>la quiso espantar,</p>
              <p>al ver que bebía</p>
              <p>del velón de aceite</p>
              <p>de Santa María.</p>
              <p>La Virgen habló:</p>
              <p>“Déjala que beba,</p>
              <p>san Cristobalón”.</p>
              <p>Sobre el olivar,</p>
              <p>se vio a la lechuza</p>
              <p>volar y volar.</p>
              <p>A Santa María</p>
              <p>un ramito verde</p>
              <p>volando traía.</p>
              <p>¡Campo de Baeza,</p>
              <p>soñaré contigo</p>
              <p>cuando no te vea!</p>       
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>From my window,</p>
              <p>Fields of Baeza</p>
              <p>In the moonlight!</p>
              <p>Mountains of Cazorla!</p>
              <p>Aznaitín and Mágina!</p>
              <p>Of moon and stone,</p>
              <p>They’re young pups too</p>
              <p>Of Sierra Morena!</p>
              <p>Above the olive grove,</p>
              <p>A barn-owl I saw</p>
              <p>Flying, flying around.</p>
              <p>Fields, fields, fields.</p>
              <p>Among the olive trees,</p>
              <p>The white farmsteads.</p>
              <p>And the black holm oak</p>
              <p>Halfway between</p>
              <p>Úbeda and Baeza.</p>
              <p>Through a tall window</p>
              <p>The barn owl flew in,</p>
              <p>Into the cathedral.</p>
              <p>Saint Cristobalón</p>
              <p>Tried to scare him away,</p>
              <p>When he saw him drink</p>
              <p>From the oil lamp</p>
              <p>Of the Virgin Mary.</p>
              <p>The Virgin spoke out:</p>
              <p>“Let him come and drink,</p>
              <p>Saint Cristobalón.”</p>
              <p>Above the olive grove</p>
              <p>A barn owl I saw</p>
              <p>Flying, flying round once more.</p>
              <p>To the Virgin Mary</p>
              <p>Flying in he brought</p>
              <p>A green olive sprig.</p>
              <p>Oh, fields of Baeza,</p>
              <p>I‘ll dream of you again</p>
              <p>When I see you no more!</p>              
            </div>        
          </div>
      </li>
      <li class="song">
        <h3 class="song_title">3. La noria</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>La tarde caía</p>
            <p>triste y polvorienta.</p>
            <p>El agua cantaba</p>
            <p>su copla plebeya</p>
            <p>en los cangilones</p>
            <p>de la noria lenta.</p>
            <p>Soñaba la mula,</p>
            <p>¡pobre mula vieja!</p>
            <p>al compás de sombra</p>
            <p>que en el agua suena.</p>
            <p>La tarde caía</p>
            <p>triste y polvorienta.</p>
            
            <p>Yo no sé qué noble,</p>
            <p>divino poeta,</p>
            <p>unió a la amargura</p>
            <p>de la eterna rueda</p>
            <p>la dulce armonía</p>
            <p>del agua que sueña,</p>
            <p>y vendó tus ojos,</p>
            <p>¡pobre mula vieja...!</p>
            <p>Mas sé que fue un noble,</p>
            <p>divino poeta,</p>
            <p>corazón maduro</p>
            <p>de sombra y de ciencia.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The evening was falling,</p>
            <p>Sorrowful and dusty.</p>
            <p>The water was singing</p>
            <p>Its popular song</p>
            <p>Slowly in the pails</p>
            <p>Of the old waterwheel.</p>
            <p>The mule was dreaming,</p>
            <p>Poor old mule!</p>
            <p>To the murky rhythm</p>
            <p>In the water beating.</p>
            <p>The evening was falling,</p>
            <p>Sorrowful and dusty.</p>
            
            <p>I don’t know what noble</p>
            <p>And divine poet</p>
            <p>Joined the bitterness</p>
            <p>Of the eternal wheel</p>
            <p>To the sweet harmony</p>
            <p>Of dreaming water,</p>
            <p>And blinded your eyes,</p>
            <p>Poor old mule ...!</p>
            <p>But I know it was a noble,</p>
            <p>And divine poet,</p>
            <p>A heart matured by</p>
            <p>Shadow and knowledge.</p>            
          </div>               
        </div>
    </li>
    <li class="song">
      <h3 class="song_title">4. Hay fiesta en el prado verde</h3>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Hay fiesta en el prado verde,</p>
          <p>–pífano y tambor–.</p>
          <p>Con su cayado florido</p>
          <p>y abarcas de oro vino un pastor.</p>
          
          <p>Del monte bajé,</p>
          <p>sólo por hablar con ella;</p>
          <p>al monte me tornaré.</p>
          
          <p>En los árboles del huerto</p>
          <p>hay un ruiseñor;</p>
          <p>canta de noche y de día</p>
          <p>canta a la luna y al sol.</p>
          
          <p>Ronco de cantar;</p>
          <p>al huerto vendrá la niña</p>
          <p>y una rosa cortará.</p>
          
          <p>Entre las negras encinas</p>
          <p>hay una fuente de piedra,</p>
          <p>y un cantarillo de barro</p>
          <p>que nunca se llena.</p>
          
          <p>Por el encinar,</p>
          <p>con la blanca luna</p>
          <p>ella volverá.</p>
          
        </div>
        <div class="song_text">
          <p class="lang">(EN)</p>
          <p>There’s fiesta in the green meadow,</p>
          <p>– fife and drum –.</p>
          <p>A shepherd came with crook</p>
          <p>Of flowers and golden clogs.</p>
          <p>I came down from the hills</p>
          <p>Just to speak to her;</p>
          <p>To the hills I’ll return.</p>
          <p>In the orchard trees</p>
          <p>A nightingale sings;</p>
          <p>Sings by night and day,</p>
          <p>Sings to moon and sun.</p>
          <p>Hoarse with singing;</p>
          <p>A girl comes to the orchard</p>
          <p>And a rose she’ll pluck.</p>
          <p>Between the black holm oaks</p>
          <p>There’s a stone fountain,</p>
          <p>And a little clay jug</p>
          <p>That has never been filled.</p>
          <p>Through the holm oaks,</p>
          <p>Under a white moon</p>
          <p>She’ll come back.</p>                    
        </div>               
      </div>
  </li>
  <li class="song">
    <h3 class="song_title">5. Llamó a mi corazón</h3>
    <div class="translations">
      <div class="song_text">
        <p class="lang">(ES)</p>
        <p>Llamó a mi corazón, un claro día,</p>
        <p>con un perfume de jazmín, el viento.</p>
        <p>–A cambio de este aroma,</p>
        <p>todo el aroma de tus rosas quiero.</p>
        <p>–No tengo rosas; flores</p>
        <p>en mi jardín no hay ya; todas han</p>
        <p>muerto.</p>
        <p>Me llevaré los llantos de las fuentes,</p>
        <p>las hojas amarillas y los mustios</p>
        <p>pétalos.</p>
        <p>Y el viento huyó... Mi corazón</p>
        <p>sangraba...</p>
        <p>Alma, ¿qué has hecho de tu pobre</p>
        <p>huerto?</p>
      </div>
      <div class="song_text">
        <p class="lang">(EN)</p>
        <p>One clear day, smelling of jasmine,</p>
        <p>The wind called to my heart:</p>
        <p>– Let’s swap this scent</p>
        <p>For the scent of your roses.</p>
        <p>– I have no roses; flowers in my</p>
        <p>garden</p>
        <p>There are none; they’re all dead.</p>
        <p>I’ll take away tears from the fountains,</p>
        <p>The yellow leaves, the withered</p>
        <p>petals.</p>
        <p>And the wind left... My heart was</p>
        <p>bleeding...</p>
        <p>Soul, what have you done with your</p>
        <p>poor garden?</p>
                          
      </div>               
    </div>
</li>
<li class="song">
  <h3 class="song_title">6. Cantares del Duero</h3>
  <div class="translations">
    <div class="song_text">
      <p class="lang">(ES)</p>
      <p>Molinero es mi amante,</p>
      <p>tiene un molino</p>
      <p>bajo los pinos verdes,</p>
      <p>cerca del río.</p>
      
      <p>Niñas, cantad:</p>
      <p>“Por las orillas del Duero</p>
      <p>yo quisiera pasar”.</p>
      
      <p>Por las tierras de Soria</p>
      <p>va mi pastor.</p>
      <p>¡Si yo fuera una encina</p>
      <p>sobre un alcor!</p>
      
      <p>Para la siesta,</p>
      <p>si yo fuera una encina</p>
      <p>sombra le diera.</p>
      
      <p>Colmenero es mi amante,</p>
      <p>y, en su abejar,</p>
      <p>abejicas de oro</p>
      <p>vienen y van.</p>
      <p>De tu colmena,</p>
      <p>colmenero del alma,</p>
      <p>yo colmenera.</p>
      <p>En las sierras de Soria,</p>
      <p>azul y nieve,</p>
      <p>leñador es mi amante</p>
      <p>de pinos verdes.</p>

      <p>¡Quién fuera el águila</p>
      <p>para ver a mi dueño</p>
      <p>cortando ramas!</p>

      <p>A la orilla del Duero,</p>
      <p>lindas peonzas,</p>
      <p>bailad, coloradotas</p>
      <p>como amapolas.</p>

      <p>¡Ay, garabí...!</p>
      <p>Bailad, suene la flauta</p>
      <p>y el tamboril.</p>   
    </div>
    <div class="song_text">
      <p class="lang">(EN)</p>
      <p>My lover is a miller.</p>
      <p>He has a mill</p>
      <p>Under green pine trees</p>
      <p>Near the river.</p>
      <p>Sing, little girls:</p>
      <p>“Along the banks of the Duero</p>
      <p>I’d like to pass by”.</p>
      <p>Through the lands of Soria</p>
      <p>My shepherd goes.</p>
      <p>If I were a holm oak</p>
      <p>On top of a hillock!</p>
      <p>For his siesta,</p>
      <p>If I were a holm oak</p>
      <p>I would give him shade.</p>
      <p>A beekeeper is my lover,</p>
      <p>And in his many hives,</p>
      <p>His tiny golden bees</p>
      <p>Fly in and out.</p>
      <p>Of your beehive,</p>
      <p>Keeper of my soul,</p>
      <p>I’d be your beekeeper.</p>
      <p>In the mountains of Soria,</p>
      <p>Blue skies and snow,</p>
      <p>A woodcutter, my lover,</p>
      <p>Green pines he fells.</p>
      <p>Would I were an eagle</p>
      <p>To see my master</p>
      <p>Felling those branches!</p>
      <p>On the banks of the Duero,</p>
      <p>Pretty girls like tops</p>
      <p>Dance, ruddy-faced,</p>
      <p>Like the red poppies.</p>
      <p>Ay, garabí ...!</p>
      <p>Dance, play the flute</p>
      <p>And beat the drum.</p>
    </div>               
  </div>
</li>
  </ul>
  <ul class="cicle">
      <h2 class="cicle_name">DOS CANCIONES</h2>
      <p class="author">(Juan Ramón Jiménez)</p>
      <li class="song">
          <h3 class="song_title">1. Verde verderol</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Verde verderol</p>
              <p>¡endulza la puesta del sol!</p>
              <p>Palacio de encanto,</p>
              <p>el pinar tardío</p>
              <p>arrulla con llanto</p>
              <p>la huida del río.</p>
              <p>Allí el nido umbrío</p>
              <p>tiene el verderol.</p>
              
              <p>Verde verderol</p>
              <p>¡endulza la puesta del sol!</p>
              <p>La última brisa</p>
              <p>es suspiradora;</p>
              <p>el sol rojo irisa</p>
              <p>al pino que llora.</p>
              <p>¡Vaga y lenta hora</p>
              <p>nuestra, verderol!</p>
              
              <p>Verde verderol</p>
              <p>¡endulza la puesta del sol!</p>
              <p>Soledad y calma,</p>
              <p>silencio y grandeza.</p>
              <p>La choza del alma</p>
              <p>se recoge y reza.</p>
              <p>De pronto ¡oh belleza!,</p>
              <p>canta el verderol.</p>
              <p>Verde verderol</p>
              <p>¡endulza la puesta del sol!</p>
              <p>Su canto enajena.</p>
              <p>–¿Se ha parado el viento?–</p>
              <p>El campo se llena</p>
              <p>de su sentimiento.</p>
              <p>Malva es el lamento,</p>
              <p>verde el verderol.</p>
              <p>Verde verderol,</p>
              <p>¡endulza la puesta del sol!</p>              
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Green greenfinch,</p>
              <p>Sweeten the sunset!</p>
              <p>Enchanted palace,</p>
              <p>The old pine wood</p>
              <p>Soothes with his cries</p>
              <p>The flow of the river.</p>
              <p>There a shady nest</p>
              <p>Has the greenfinch.</p>
              <p>Green greenfinch,</p>
              <p>Sweeten the sunset!</p>
              
              <p>The last breeze</p>
              <p>Breathes its last;</p>
              <p>The red sun brightens</p>
              <p>The pine that weeps.</p>
              <p>Faint and slow is</p>
              <p>Our hour, Greenfinch.</p>
              <p>Green greenfinch,</p>
              <p>Sweeten the sunset!</p>
              
              <p>Solitude and calm,</p>
              <p>Silence and greatness.</p>
              <p>The abode of the soul</p>
              <p>Retires and prays.</p>
              <p>Then suddenly, oh! Beauty,</p>
              <p>Sings the greenfinch.</p>
              <p>Green greenfinch,</p>
              <p>Sweeten the sunset!</p>
              
              <p>His song captivates.</p>
              <p>– Has the wind stopped? –</p>
              <p>The countryside fills</p>
              <p>With his sentiment.</p>
              <p>His lament is mauve,</p>
              <p>Green, the greenfinch</p>
              <p>Green greenfinch,</p>
              <p>Sweeten the sunset!</p>              
            </div>               
          </div>
      </li>
      <li class="song">
        <h3 class="song_title">2. El mar lejano</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>La fuente aleja su cantata.</p>
            <p>Despiertan todos los caminos...</p>
            <p>¡Mar de la aurora, mar de plata;</p>
            <p>qué limpio estás entre los pinos!</p>
            <p>Viento del sur ¿vienes sonoro</p>
            <p>de soles? Ciegan los caminos...</p>
            <p>¡Mar de la siesta, mar de oro;</p>
            <p>qué alegre estás sobre los pinos!</p>
            <p>Dice el verdón no sé qué cosa...</p>
            <p>Mi alma se va por los caminos...</p>
            <p>¡Mar de la tarde, mar de rosa;</p>
            <p>qué dulce estás entre los pinos!</p>            
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The spring dims her song.</p>
            <p>The lanes all awake ...</p>
            <p>The sea at dawn, silver sea,</p>
            <p>How clean among the pines!</p>
            <p>South wind, do you come singing</p>
            <p>Of sunshine? Blinding the lanes ...</p>
            <p>The sea at siesta, golden sea,</p>
            <p>How happy above the pines!</p>
            <p>Says the greenfinch I know not what ...</p>
            <p>My soul fades away down those lanes ...</p>
            <p>The sea at eventide, rosy sea,</p>
            <p>How sweet among the pines!</p>            
          </div>               
        </div>
    </li>
  </ul>
  <ul class="cicle">
      <li class="song">
          <h3 class="song_title">CANCIÓN DE CUNA</h3>
          <p class="author">(Rafael Alberti)</p>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Para ti niña Aitana,</p>
              <p>remontando los ríos</p>
              <p>este ramo de agua.</p>
              <p>De agua dulce ramito,</p>
              <p>que no de agua salada.</p>
              <p>Agua de azúcar,</p>
              <p>ramo, ramito que no amarga.</p>
              <p>Remontando los ríos...</p>
              <p>Cierro los ojos.</p>
              <p>Pasan los ríos por mi cara,</p>
              <p>los ojos...</p>
              <p>son los ríos...</p>
              <p>son los ojos.</p>
              <p>¿Quién canta?</p>
              <p>¿Quién se ríe?</p>
              <p>¿Quién grita?</p>
              <p>¿Quién llora?</p>
              <p>Se desatan los ríos...</p>
              <p>de mis ojos</p>
              <p>vuela alegre una barca.</p>
              <p>¡Adiós ramito verde</p>
              <p>para ti toda el agua!</p>              
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>For you my child, Aitana,</p>
              <p>Wading upstream,</p>
              <p>This posy of water.</p>
              <p>A posy of fresh water</p>
              <p>But not of salt water.</p>
              <p>Sweet sugar water,</p>
              <p>Posy, little posy, but not sour.</p>
              <p>Wading upstream...</p>
              <p>I close my eyes</p>
              <p>Rivers wash o’er my face,</p>
              <p>My eyes ...</p>
              <p>They are rivers ...</p>
              <p>They are eyes ...</p>
              <p>Who’s singing?</p>
              <p>Who’s laughing?</p>
              <p>Who’s shouting?</p>
              <p>Who’s weeping?</p>
              <p>Those rivers unleashed ...</p>
              <p>From my eyes</p>
              <p>Flies happy a boat.</p>
              <p>Farewell little green posy,</p>
              <p>For you all the water!</p>
              
            </div>             
          </div>
      </li>
      <li class="song">
          <h3 class="song_title">VILLANCICO</h3>
          <p class="author">(Gerardo Diego)</p>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>¿Quién ha entrado en el portal,</p>
              <p>en el portal de Belén?</p>
              <p>¿Quién ha entrado por la puerta?</p>
              <p>¿quién ha entrado, quién?</p>
              <p>La noche, el frío, la escarcha</p>
              <p>y la espada de una estrella.</p>
              <p>Un varón –vara florida–</p>
              <p>y una doncella.</p>
              <p>¿Quién ha entrado en el portal</p>
              <p>por el techo abierto y roto?</p>
              <p>¿Quién ha entrado que así suena</p>
              <p>celeste alboroto?</p>
              <p>Una escala de oro y música,</p>
              <p>sostenidos y bemoles</p>
              <p>y ángeles con panderetas</p>
              <p>dorremifasoles.</p>
              <p>¿Quién ha entrado en el portal,</p>
              <p>en el portal de Belén,</p>
              <p>no por la puerta y el techo,</p>
              <p>ni el aire del aire, quién?</p>
              <p>Flor sobre intacto capullo</p>
              <p>rocío sobre la flor.</p>
              <p>Nadie sabe cómo vino,</p>
              <p>¡mi Niño, mi amor!</p>              
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Who stepped into the stable,</p>
              <p>Stable at Bethlehem?</p>
              <p>Who stepped in through the door?</p>
              <p>Who went in, who?</p>
              <p>Night, cold, hoarfrost</p>
              <p>And the sword of a star.</p>
              <p>One man – staff in bloom –</p>
              <p>And a young, young maiden.</p>
              <p>Who got into the stable</p>
              <p>Through open roof broken?</p>
              <p>Who got in? So you hear</p>
              <p>Commotion in heaven?</p>
              <p>A ladder golden and music,</p>
              <p>Notes both sharp and flat</p>
              <p>And angels with timbrel</p>
              <p>Play do-re-mi-fa-so.</p>
              <p>Who stepped into the stable,</p>
              <p>Stable at Bethlehem?</p>
              <p>Not through the door, nor the roof,</p>
              <p>Nor the air either, the air, who?</p>
              <p>Flower on a closed bud,</p>
              <p>Dewfall on the flower.</p>
              <p>He came, we know not how,</p>
              <p>My Baby, my true love!</p>              
            </div>                       
          </div>
      </li>
      <li class="song">
        <h3 class="song_title">O MEU CORASÓN CHE MANDO</h3>
        <p class="author">(Rosalía de Castro)</p>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(Gallego)</p>
            <p>O meu corasón che mando</p>
            <p>cunha chave para o abrir.</p>
            <p>Nin eu teño máis que darche,</p>
            <p>nin ti máis que me pedir.</p>
            <p>Nasín cando as prantas nasen,</p>
            <p>no mes das froles nasín,</p>
            <p>nunha alborada mainiña,</p>
            <p>nunha alborada de abril.</p>
            <p>Por eso me chaman Rosa,</p>
            <p>mais a do triste sorrir,</p>
            <p>con espiñas para todos,</p>
            <p>sin ningunha para ti.</p>
            <p>Desque te quixen, ingrato,</p>
            <p>todo acabou para min,</p>
            <p>que eras ti para min todo,</p>
            <p>miña groria e meu vivir.</p>
            <p>¿De qué, pois, te queixas, Mauro?</p>
            <p>¿De qué, pois, te queixas, di,</p>
            <p>cando sabes que morrera</p>
            <p>por te contemplar felís?</p>
            <p>Duro crabo me encrabaches</p>
            <p>con ese teu maldesir,</p>
            <p>con ese teu pedir tolo</p>
            <p>que non sei qué quer de min,</p>
            <p>pois dinche canto dar puden</p>
            <p>avariciosa de ti.</p>
            <p>O meu corasón che mando</p>
            <p>cunha chave para o abrir.</p>
            <p>Nin eu teño máis que darche,</p>
            <p>nin ti máis que me pedir.</p>
          </div>
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Mi corazón te mando</p>
            <p>con una llave para abrirlo.</p>
            <p>Ni yo tengo más que darte</p>
            <p>ni tú más que pedirme.</p>
            <p>Nací cuando las plantas nacen,</p>
            <p>en el mes de las flores nací,</p>
            <p>en una alborada plácida,</p>
            <p>una alborada de abril.</p>
            <p>Por eso me llaman Rosa,</p>
            <p>pero la del triste sonreír,</p>
            <p>con espinas para todos,</p>
            <p>sin ninguna para ti.</p>
            <p>Desde que te quise, ingrato,</p>
            <p>todo acabó para mí,</p>
            <p>que eras tú para mí todo,</p>
            <p>mi gloria y mi vivir.</p>
            <p>¿De qué, pues, te quejas, Mauro?</p>
            <p>¿De qué, pues, te quejas, di,</p>
            <p>cuando sabes que moriría</p>
            <p>por verte feliz?</p>
            <p>Duro clavo me clavaste</p>
            <p>con ese maldecir tuyo,</p>
            <p>con ese tuyo pedir loco</p>
            <p>que no sé qué quieres de mí.</p>
            <p>Pues te di cuanto dar pude,</p>
            <p>avariciosa de ti.</p>
            <p>Mi corazón te mando</p>
            <p>con una llave para abrirlo.</p>
            <p>Ni yo tengo más que darte</p>
            <p>ni tú más que pedirme.</p>     
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>I send you my heart</p>
            <p>With a key to open it up.</p>
            <p>I’ve no more to give you,</p>
            <p>No more to ask of you.</p>
            <p>Born when plants spring forth</p>
            <p>In the month of flowers was I born,</p>
            <p>One sweet morning it was,</p>
            <p>One sweet April morning.</p>
            <p>That’s why I’m called Rose</p>
            <p>But that of sad smile,</p>
            <p>With thorns set for all,</p>
            <p>But for you none at all.</p>
            <p>Since, ungrateful, I loved you,</p>
            <p>All ended then for me,</p>
            <p>You were all for me,</p>
            <p>My glory and my life.</p>
            <p>So why complain, Mauro?</p>
            <p>Why complain, tell me,</p>
            <p>When you know I’d die,</p>
            <p>To see you contented?</p>
            <p>A hard spike you struck me,</p>
            <p>With that, your cursing word,</p>
            <p>With that, your asking madly</p>
            <p>I know not what you want of me,</p>
            <p>For I gave you all I could,</p>
            <p>Greedy I was of you.</p>
            <p>I send you my heart</p>
            <p>With a key to open it up.</p>
            <p>I’ve no more to give you,</p>
            <p>No more to ask of you.</p>
              
          </div>                     
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">Serranilla</h3>
        <p class="author">(Guillermo y Rafael Fernández Shaw)</p>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>La moza, en la fuente,</p>
            <p>miraba y miraba,</p>
            <p>queriendo los ojos</p>
            <p>mirarse en el agua;</p>
            <p>más ¡ay! los espejos</p>
            <p>saltaban, saltaban,</p>
            <p>y nunca podían</p>
            <p>copiarle la cara.</p>
            <p>Llegó un caballero,</p>
            <p>miró a la mozuela,</p>
            <p>gustó de sus ojos,</p>
            <p>le dijo quién era.</p>
            <p>“Soy moza que lava;</p>
            <p>soy moza que espera”.</p>
            <p>Y él dijo a la niña:</p>
            <p>“Yo llamo a tu puerta”.</p>
            <p>Olor a cantueso</p>
            <p>y olor a retama,</p>
            <p>y olor a tomillo</p>
            <p>y olor a alhucema...</p>
            <p>¡Qué alegre la moza</p>
            <p>saltaba y reía!</p>
            <p>¡Ay, madre, mi madre,</p>
            <p>lució mi estrellica!</p>
            <p>Sus galas mejores</p>
            <p>la niña lucía...</p>
            <p>¡Qué dulce el coloquio</p>
            <p>del mozo y la niña!</p>
            <p>La moza, en la fuente,</p>
            <p>lloraba y lloraba.</p>
            <p>¡Qué tristes sus ojos</p>
            <p>temblando en el agua!</p>
            <p>Se fue el caballero;</p>
            <p>con él se llevaba</p>
            <p>su joya más rica...</p>
            <p>¡Malhaya y malhaya!</p>
            <p>Olor a tomillo</p>
            <p>y olor a alhucema,</p>
            <p>y olor a cantueso</p>
            <p>y olor a retama.</p>         
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The maid at the fountain</p>
            <p>Watched and watched,</p>
            <p>Her eyes demanding to</p>
            <p>See herself in the water;</p>
            <p>But, Oh! Those mirrors</p>
            <p>They leapt and they leapt</p>
            <p>But never could they ever</p>
            <p>Reflect back her face.</p>
            <p>A gentleman arrived,</p>
            <p>Looked at the young maid,</p>
            <p>And delighted in her eyes,</p>
            <p>She told him about herself.</p>
            <p>“I am a maid who washes;</p>
            <p>A maid who is waiting”.</p>
            <p>And he said to the maid:</p>
            <p>“I'll call at your door”.</p>
            <p>Scent of wild lavender,</p>
            <p>Scent of wild broom,</p>
            <p>Scent of green thyme,</p>
            <p>Scent of sweet lavender...</p>
            <p>How happy the maid,</p>
            <p>She leapt and laughed!</p>
            <p>Oh, Mother, my Mother,</p>
            <p>My star has now shone!</p>
            <p>Her best of all frocks</p>
            <p>the girl now was wearing...</p>
            <p>How sweet the exchange</p>
            <p>Of the man and the maid!</p>
            <p>The maid at the fountain</p>
            <p>Wept and wept.</p>
            <p>How sad were her eyes</p>
            <p>Trembling in the water!</p>
            <p>The gentleman went away;</p>
            <p>With him he was carrying</p>
            <p>His most precious jewel...</p>
            <p>Damn him, damn him!</p>
            <p>Scent of green thyme,</p>
            <p>Scent of sweet lavender,</p>
            <p>Scent of wild lavender,</p>
            <p>Scent of wild broom.</p>            
          </div>                          
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">Canción de la Malibrán</h3>
        <p class="author">(Del film Canción de Malibrán)</p>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Paso la noche sombría</p>
            <p>suspirando en mi ventana,</p>
            <p>¡alma mía!</p>
            <p>Mas si han de expirar mis quejas</p>
            <p>en mis rejas</p>
            <p>no me las abras amor</p>
            <p>noche ni día.</p>
            <p>¿Oyes la lluvia que cae</p>
            <p>y el aura en sus hilos rota</p>
            <p>que una voz triste la atrae</p>
            <p>mientras mis vidrios azota?</p>
            <p>No es la voz de la tormenta</p>
            <p>turbulenta que ruge con el turbión.</p>
            <p>Es el arpa que yo toco</p>
            <p>cuando evoco tu sueño</p>
            <p>con mi canción</p>
            <p>porque siempre en mí porfía.</p>
            <p>Yo velo</p>
            <p>en la noche umbría</p>
            <p>suspirando en mi ventana, ¡alma mía!</p>
            <p>mas si han de expirar mis quejas</p>
            <p>en mis rejas</p>
            <p>no me las abras amor</p>
            <p>noche ni día.</p>            
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>I spend the dark night</p>
            <p>Sighing at my window,</p>
            <p>Oh! My soul!</p>
            <p>Should my sorrows stop</p>
            <p>at the grating</p>
            <p>Do not open it, my love,</p>
            <p>day or night.</p>
            <p>Do you hear the rain falling</p>
            <p>And the haze in threads breaking</p>
            <p>As a sad voice attracts it</p>
            <p>While it against my windows lashes?</p>
            <p>It’s not the voice of thunder</p>
            <p>Violent growling in downpour.</p>
            <p>It is the harp that I play</p>
            <p>When with my song I evoke</p>
            <p>your dream</p>
            <p>for always ever it comes back to me.</p>
            <p>I watch and wait</p>
            <p>in night’s shadow</p>
            <p>Sighing at my window, Oh! My soul!</p>
            <p>Should my sorrows stop</p>
            <p>at the grating</p>
            <p>Do not open it, my love,</p>
            <p>day or night.</p>            
          </div>                    
        </div>
      </li>
  </ul>
</div>
</section>
<style lang="css">
  .leters{
    display: flex;
    justify-content: center;
  }
  .leters .title{
    text-align: center;
  }
  .cicle {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }
  .cicle_name{
    font-size: 20px;
    color: #ffff;
  }
  .song{
    margin: 1rem 0;
    font-size: 14px;
    color: #fff;
  }
  .song_title{
    font-size: 16px;
    font-weight: normal;
  }
  .translations {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
    margin: 2rem 0;
  }
  .song_text {
    padding: 0 1rem;
    box-sizing: border-box;
    width: 50%;
  }
  .lang{
    font-weight: lighter;
  }
  .author{
    font-weight: 300;
    color: var(--light-color);
  }
</style>
