
<section id="letras" class="leters">
  <div class="mask">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
  <div class="container">
  <h1 class="title">Letras</h1>
  <ul class="cicle">
    <h2 class="cicle_name">Seis Lieder</h2>
    <li class="song">
      <h3 class="song_title">1. Por el montecico sola</h3>
      <p class="author">(Lope de Vega)</p>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Por el montecico sola</p>
          <p>¿cómo iré?</p>
          <p>¡Ay, Dios! ¿Si me perderé?</p>
          <p>¿Cómo iré, triste, cuitada</p>
          <p>de aquel ingrato dejada?</p>
          <p>Sola, triste, enamorada,</p>
          <p>¿dónde iré?</p>
          <p>¡Ay Dios! ¿Si me perderé?</p>
        </div>
        <div class="song_text">
          <p class="lang">(EN)</p>
          <p>Through the mountain alone</p>
          <p>How will I go?</p>
          <p>Oh, God, will I get lost?</p>
          <p>How will I go, sad, saddened</p>
          <p>of that ungrateful man left behind?</p>
          <p>Alone, sad, in love,</p>
          <p>where shall I go?</p>
          <p>Oh God, will I be lost?</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">2. Gritos daba la morenica</h3>
      <p class="author">(Cancionero anónimo de la Edad Media)</p>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Gritos daba la morenica</p>
          <p>so el olivar,</p>
          <p>que las ramas hace temblar.</p>
          <p>La niña, cuerpo garrido,</p>
          <p>morenica, cuerpo garrido,</p>
          <p>lloraba su muerto amigo</p>
          <p>so el olivar,</p>
          <p>que las ramas hace temblar.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The little dark-skinned girl was crying</p>
            <p>under the olive tree,</p>
            <p>making the branches tremble.</p>
            <p>The girl, a graceful body,</p>
            <p>dark-skinned, a graceful body,</p>
            <p>was crying for her dead friend</p>
            <p>under the olive tree,</p>
            <p>making the branches tremble.</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">3. Mal ferida iba la garza</h3>
      <p class="author">(Anónimo)</p>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Malferida iba la garza</p>
          <p>Enamorada:</p>
          <p>Sola va y gritos daba.</p>
          <p>Donde la garza hace su nido,</p>
          <p>ribericas de aquel río,</p>
          <p>sola va y gritos daba.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The wounded heron was going</p>
            <p>in love:</p>
            <p>She goes alone and cries out.</p>
            <p>Where the heron makes her nest,</p>
            <p>along the banks of that river,</p>
            <p>she goes alone and cries out.</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">4. La flor de la villa</h3>
      <p class="author">(Cancionero anónimo de la Edad Media)</p>
      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>Que yo, mi madre, yo</p>
          <p>que la flor de la villa</p>
          <p>m’era yo.</p>
          <p>Ibame yo mi madre</p>
          <p>a vender pan a la villa</p>
          <p>y todos me decían</p>
          <p>-¡Qué panadera garrida!</p>
          <p>Garrida m’era yo,</p>
          <p>que la flor de la villa</p>
          <p>m’era yo.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>That I, my mother, I</p>
            <p>was the flower of the village</p>
            <p>myself.</p>
            <p>I, myself and my mother</p>
            <p>went to sell bread in the village</p>
            <p>and everyone would say to me,</p>
            <p>"What a graceful baker you are!"</p>
            <p>I was graceful,</p>
            <p>for I was the flower of the village</p>
            <p>myself.</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">5. ¿Con qué la lavaré?</h3>
      <p class="author">(Cancionero anónimo de la Edad Media)</p>

      <div class="translations">
        <div class="song_text">
          <p class="lang">(ES)</p>
          <p>¿Y con qué la lavaré</p>
          <p>la flor de mi cara?</p>
          <p>¿Y con qué la lavaré</p>
          <p>que vivo mal penada?</p>
          <p>Lávanse las mozas</p>
          <p>con agua de limones;</p>
          <p>lavarme he yo, cuitada,</p>
          <p>con ansias y dolores.</p>
          <p>¿Y con qué la lavaré</p>
          <p>la flor de mi cara?</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>And with what shall I wash</p>
            <p>the flower of my face?</p>
            <p>And with what shall I wash</p>
            <p>for I live in great sorrow?</p>
            <p>The maidens wash themselves</p>
            <p>with water from lemons;</p>
            <p>but I, wretched, will wash</p>
            <p>with yearning and pain.</p>
            <p>And with what shall I wash</p>
            <p>the flower of my face?</p>
        </div>
        
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">6. De los álamos vengo, madre</h3>
      <p class="author">(Anónimo)</p>
      <div class="translations">
        <div class="song_text">
            <p class="lang">(ES)</p>
            <p>De los álamos vengo, madre,</p>
            <p>de ver cómo los menea el aire.</p>
            <p>De los álamos de Sevilla</p>
            <p>de ver a mi linda amiga.</p>
            <p>De los álamos vengo, madre,</p>
            <p>de ver cómo los menea el aire.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>I come from the poplars, mother,</p>
            <p>to see how the air sways them.</p>
            <p>From the poplars of Seville,</p>
            <p>to see my lovely friend.</p>
            <p>I come from the poplars, mother,</p>
            <p>to see how the air sways them.</p>
        </div>
      </div>
    </li>
  </ul>
  <ul class="cicle">
    <h2 class="cicle_name">Dos Canciones amatorias</h2>
    <li class="song">
        <h3 class="song_title">1. No me habléis, conde</h3>
        <p class="author">(Anónimo)</p>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>No me habléis, conde,</p>
            <p>de amor en la calle:</p>
            <p>catá que os dirá mal,</p>
            <p>conde, la mi madre.</p>
            <p>Mañana iré, conde,</p>
            <p>a lavar al río,</p>
            <p>allí me tenéis, conde,</p>
            <p>a vuestro servicio.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Don't speak to me, nobleman,</p>
            <p>of love in the street:</p>
            <p>consider that it will reflect poorly,</p>
            <p>nobleman, on my reputation with my mother.</p>
            <p>Tomorrow, nobleman,</p>
            <p>I'll go to wash by the river,</p>
            <p>you'll find me there, nobleman,</p>
            <p>at your service.</p>
          </div>
        </div>
    </li>
    <li class="song">
        <h3 class="song_title">2. Ya no más</h3>
        <p class="author">(Cancionero de Uppsala)</p>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>No me los amuestres más,</p>
            <p>que me matarás.</p>
            <p>Son tan lindos y tan bellos</p>
            <p>que a todos matas con ellos</p>
            <p>y aunque yo muero por vellos,</p>
            <p>ya no más, queditito amor,</p>
            <p>que me matarás,</p>
            <p>no más, no más.</p>
            <p>No me los amuestres más,</p>
            <p>que me matarás.</p>
            <p>Estábase mi novia</p>
            <p>envuelta en misterio,</p>
            <p>vuela su mirada</p>
            <p>de so el velo negro.</p>
            <p>Más, más,</p>
            <p>que me matarás.</p>
            <p>Ya no más, queditito amor,</p>
            <p>que me matarás,</p>
            <p>no más, no más.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Don't show them to me anymore,</p>
            <p>for you'll kill me.</p>
            <p>They are so lovely and so beautiful,</p>
            <p>that with them, you kill everyone,</p>
            <p>and though I'm dying for them,</p>
            <p>no more, my quiet love,</p>
            <p>for you'll kill me,</p>
            <p>no more, no more.</p>
            <p>Don't show them to me anymore,</p>
            <p>for you'll kill me.</p>
            <p>My beloved was</p>
            <p>enveloped in mystery,</p>
            <p>her gaze flits</p>
            <p>from beneath the black veil.</p>
            <p>More, more,</p>
            <p>for you'll kill me.</p>
            <p>No more, my quiet love,</p>
            <p>for you'll kill me,</p>
            <p>no more, no more.</p>
          </div>
        </div>
    </li>
  </ul>
  <ul class="cicle">
    <li class="song">
        <h3 class="song_title">¿Qué sentís corazón mío?</h3>
        <p class="author">(Anónimo siglo XVI)</p>
        <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>¿Qué sentís, corazón mío?</p>
              <p>¿No decís qué mal es el que sentís?</p>
              <p>¿Qué sentistes aquel día</p>
              <p>cuando a mi señora vistes,</p>
              <p>que perdistes alegría,</p>
              <p>y el descanso despedistes?</p>
              <p>¿Cómo a mí nunca volvistes</p>
              <p>ni decís qué mal es el que sentís?</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>What do you feel, my heart?</p>
              <p>Why don't you tell what ailment you bear?</p>
              <p>What did you feel that day</p>
              <p>when you saw my lady,</p>
              <p>that you lost your joy,</p>
              <p>and bid farewell to rest?</p>
              <p>Why have you never returned to me</p>
              <p>nor revealed the ailment you bear?</p>
          </div>
        </div>
    </li>
    <li class="song">
        <h3 class="song_title">Elegía al caballero de Olmedo</h3>
        <p class="author">(Lope de Vega)</p>
        <div class="translations">
        <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Que de noche le mataron</p>
            <p>al caballero.</p>
            <p>La gala de Medina,</p>
            <p>la flor de Olmedo.</p>
            <p>Sombras le avisaron</p>
            <p>que no saliese</p>
            <p>y le aconsejaron</p>
            <p>que no se fuese</p>
            <p>El caballero,</p>
            <p>el caballero,</p>
            <p>la gala de Medina,</p>
            <p>la flor de Olmedo.</p>
        </div>
        <div class="song_text">
            <p class="lang">(EN)</p>
            <p>That they killed him at night,</p>
            <p>the nobleman.</p>
            <p>The pride of Medina,</p>
            <p>the flower of Olmedo.</p>
            <p>Shadows warned him</p>
            <p>not to go out,</p>
            <p>and advised him</p>
            <p>not to leave.</p>
            <p>The nobleman,</p>
            <p>the nobleman,</p>
            <p>the pride of Medina,</p>
            <p>the flower of Olmedo.</p>
        </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Villancico</h3>
      <p class="author">(Lope de Vega)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Las pajas del pesebre,</p>
              <p>Niño de Belén,</p>
              <p>hoy son flores y rosas,</p>
              <p>mañana serán hiel.</p>
              <p>Lloráis entre las pajas</p>
              <p>de frío que tenéis,</p>
              <p>hermoso Niño mío,</p>
              <p>y de calor también.</p>
              <p>Dormid, Cordero santo;</p>
              <p>mi vida, no lloréis;</p>
              <p>que si os escucha el lobo,</p>
              <p>vendrá por Vos, mi bien.</p>
              <p>Dormid entre las pajas,</p>
              <p>que aunque frías las veis</p>
              <p>hoy son flores y rosas,</p>
              <p>mañana serán hiel.</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>The straw in the manger,</p>
              <p>Child of Bethlehem,</p>
              <p>today it's flowers and roses,</p>
              <p>tomorrow it will be bitter.</p>
              <p>You weep among the straw,</p>
              <p>for the cold you endure,</p>
              <p>my beautiful Child,</p>
              <p>and also for the heat.</p>
              <p>Sleep, Holy Lamb;</p>
              <p>my life, don't weep;</p>
              <p>for if the wolf hears you,</p>
              <p>he will come for you, my love.</p>
              <p>Sleep among the straw,</p>
              <p>even though you see them cold,</p>
              <p>today they are flowers and roses,</p>
              <p>tomorrow they will be bitter.</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">La Virgen va caminando</h3>
      <p class="author">(Popular)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>La Virgen va caminando,</p>
              <p>¡ay soledad, soledad!</p>
              <p>va caminando solita</p>
              <p>y no lleva más compaña</p>
              <p>¡ay soledad, soledad!</p>
              <p>que las ánimas benditas.</p>
              <p>La pámpana verde,</p>
              <p>la rosa encarná,</p>
              <p>la Virgen María</p>
              <p>que hermosa que está.</p>
              <p>La Virgen tiene un vestido,</p>
              <p>¡ay soledad, soledad!</p>
              <p>todo bordado de estrellas</p>
              <p>que se lo dio San José</p>
              <p>¡ay soledad, soledad!</p>
              <p>cuando se casó con ella.</p>
              <p>La pámpana verde,</p>
              <p>la rosa encarná,</p>
              <p>la Virgen María</p>
              <p>que hermosa que está.</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>The Virgin is walking,</p>
              <p>Oh solitude, solitude!</p>
              <p>She's walking alone,</p>
              <p>and she has no other company,</p>
              <p>Oh solitude, solitude!</p>
              <p>than the blessed souls.</p>
              <p>The green vine,</p>
              <p>the red rose,</p>
              <p>Virgin Mary,</p>
              <p>how beautiful she is.</p>
              <p>The Virgin has a dress,</p>
              <p>Oh solitude, solitude!</p>
              <p>all embroidered with stars,</p>
              <p>that St. Joseph gave her</p>
              <p>Oh solitude, solitude!</p>
              <p>when he married her.</p>
              <p>The green vine,</p>
              <p>the red rose,</p>
              <p>Virgin Mary,</p>
              <p>how beautiful she is.</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">La palmera</h3>
      <p class="author">(Gerardo Diego)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Si la palmera pudiera</p>
              <p>volverse tan niña, niña,</p>
              <p>como cuando era una niña</p>
              <p>con cintura de pulsera.</p>
              <p>Para que el Niño la viera...</p>
              <p>Si la palmera tuviera</p>
              <p>las patas del borriquillo,</p>
              <p>las alas de Gabrielillo.</p>
              <p>Para cuando el Niño quiera,</p>
              <p>correr, volar a su vera...</p>
              <p>Si la palmera supiera</p>
              <p>que sus palmas algún día...</p>
              <p>Si la palmera supiera</p>
              <p>por qué la Virgen María</p>
              <p>la mira... Si ella tuviera...</p>
              <p>Si la palmera pudiera...</p>
              <p>... la palmera...</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>If the palm tree could</p>
              <p>become a little child, a child,</p>
              <p>just as it was when it was a child</p>
              <p>with a waist like a bracelet.</p>
              <p>So that the Child could see it...</p>
              <p>If the palm tree had</p>
              <p>the legs of the little donkey,</p>
              <p>the wings of little Gabriel.</p>
              <p>So that when the Child desires,</p>
              <p>to run, to fly by its side...</p>
              <p>If the palm tree knew</p>
              <p>that its fronds one day...</p>
              <p>If the palm tree knew</p>
              <p>why the Virgin Mary</p>
              <p>gazes at it... If it only had...</p>
              <p>If the palm tree could...</p>
              <p>... the palm tree...</p>
          </div> 
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Partida</h3>
      <p class="author">(Lluís Guarner Pérez)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>¿Dónde partió el marinero</p>
              <p>aquella tarde de estío</p>
              <p>sobre un barco velero?</p>
              <p>Todas las tardes del año,</p>
              <p>las olas sobre la playa</p>
              <p>desovillan sus espumas</p>
              <p>para, después, ovillarlas</p>
              <p>en un eterno murmullo</p>
              <p>que al igual que llora, canta.</p>
              <p>¡Pero nunca más trajeron</p>
              <p>al marinero perdido</p>
              <p>sobre un barco velero!</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Where did the sailor depart</p>
              <p>that summer evening</p>
              <p>on a sailboat?</p>
              <p>Every evening of the year,</p>
              <p>the waves on the shore</p>
              <p>unravel their foams</p>
              <p>only to wind them up again</p>
              <p>in an eternal murmur</p>
              <p>that both weeps and sings.</p>
              <p>But they never brought back</p>
              <p>the lost sailor</p>
              <p>on a sailboat!</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Arroyuelo del molino</h3>
      <p class="author">(José María Pemán)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>¡Arroyuelo del molino!</p>
              <p>¡Mira qué lindo que vas,</p>
              <p>corre que te corre, corre</p>
              <p>caminito de la mar!</p>
              <p>A la vera del arroyo</p>
              <p>yo la vide por San Juan,</p>
              <p>florida estaba la vega</p>
              <p>y florido el retamar.</p>
              <p>“Lindos ojos tienes, mi niña”,</p>
              <p>la dije, y no dije más.</p>
              <p>Como las guindas se puso,</p>
              <p>se me fue sin contestar.</p>
              <p>Pero desde entonces, madre,</p>
              <p>yo no hago más que cantar</p>
              <p>y cantando va ella sola</p>
              <p>cuando por los campos va.</p>
              <p>¿Por qué cantaré yo, madre?</p>
              <p>y ella ¿por qué cantará?</p>
              <p>¡Al arroyuelo del molino</p>
              <p>pregúntale por qué va,</p>
              <p>corre que te corre, corre,</p>
              <p>caminito de la mar!</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Little stream by the mill!</p>
              <p>Look how lovely you flow,</p>
              <p>running, running, running</p>
              <p>toward the path to the sea!</p>
              <p>By the side of the stream,</p>
              <p>I saw her on Saint John's Day,</p>
              <p>the meadow was in bloom,</p>
              <p>and the broom was in full flower.</p>
              <p>"You have beautiful eyes, my dear,"</p>
              <p>I said, and said no more.</p>
              <p>She blushed like cherries,</p>
              <p>and left without a reply.</p>
              <p>But since then, mother,</p>
              <p>I do nothing but sing,</p>
              <p>and she walks alone, singing,</p>
              <p>when she goes through the fields.</p>
              <p>Why do I sing, mother?</p>
              <p>And why does she sing?</p>
              <p>Ask the little stream by the mill</p>
              <p>why it goes, running, running, running,</p>
              <p>toward the path to the sea!</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Chove</h3>
      <p class="author">(José Ramón Fernández-Oxea)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(Gallego)</p>
              <p>Chove, chove, Chove, Chove</p>
              <p>no meu corazón doorido</p>
              <p>as bágoas arreo decorren.</p>
              <p>Decorren arreo as bágoas</p>
              <p>caló no peito se encoran</p>
              <p>para amolecer as magoas.</p>
              <p>Pras magoas amolecer</p>
              <p>e pra afogar o delor</p>
              <p>estou bágoas a verter</p>
              <p>per un fondo desamor.</p>
          </div>
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Llueve</p>
              <p>Llueve, llueve. Llueve. Llueve</p>
              <p>en mi corazón dolorido</p>
              <p>las lágrimas no cesan de caer.</p>
              <p>Caen sin cesar las lágrimas</p>
              <p>que en mi pecho</p>
              <p>se embalsan</p>
              <p>para ablandar las penas.</p>
              <p>Para ablandar las penas</p>
              <p>y para ahogar el dolor</p>
              <p>estoy vertiendo lágrimas</p>
              <p>por un hondo desamor.</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>It rains</p>
              <p>It rains, it rains. It rains. It rains</p>
              <p>in my sorrowful heart</p>
              <p>tears do not cease to fall.</p>
              <p>Tears fall incessantly</p>
              <p>that in my chest</p>
              <p>collect</p>
              <p>to soften the sorrows.</p>
              <p>To soften the sorrows</p>
              <p>and to drown the pain</p>
              <p>I am shedding tears</p>
              <p>for a profound unrequited love.</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Tonadilla</h3>
      <p class="author">(Estanislao Alberola)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Los hombres y las mujeres</p>
              <p>son de la misma madera</p>
              <p>y se lamentan los hombres</p>
              <p>de lo malas que son ellas.</p>
              <p>Por Dios, no seas así,</p>
              <p>que me quieres y te quiero</p>
              <p>y no puedo ser feliz.</p>
              <p>Por querer a una rubia</p>
              <p>perdí mi casa;</p>
              <p>queriendo a una morena</p>
              <p>perdí mi alma</p>
              <p>y al estribillo.</p>
              <p>Jugando con las mujeres</p>
              <p>siempre he perdido.</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Men and women</p>
              <p>are made of the same material,</p>
              <p>and men complain</p>
              <p>about how bad women are.</p>
              <p>For God's sake, don't be like that,</p>
              <p>you love me, and I love you,</p>
              <p>and I can't be happy.</p>
              <p>By loving a blonde,</p>
              <p>I lost my home;</p>
              <p>by loving a brunette,</p>
              <p>I lost my soul,</p>
              <p>and in the chorus.</p>
              <p>Playing with women,</p>
              <p>I have always lost.</p>
          </div>
      </div>
    </li>
    <li class="song">
      <h3 class="song_title">Chiquilla</h3>
      <p class="author">(Estanislao Alberola)</p>
      <div class="translations">
          <div class="song_text">
              <p class="lang">(ES)</p>
              <p>El querer es el rocío</p>
              <p>y los celos son la escarcha,</p>
              <p>me estoy muriendo de frío.</p>
              <p>Te vi con zarcillos</p>
              <p>de gruesos brillantes,</p>
              <p>me dio una pena</p>
              <p>que me está costando</p>
              <p>lágrimas de sangre.</p>
              <p>¡Chiquilla! ¡Chiquilla!</p>
              <p>¡Cuando se pierda tu alma</p>
              <p>ven y te daré la mía!</p>
          </div>
          <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Love is the dew</p>
              <p>and jealousy is the frost,</p>
              <p>I'm freezing to death.</p>
              <p>I saw you with earrings</p>
              <p>adorned with large diamonds,</p>
              <p>it filled me with sorrow</p>
              <p>and it's costing me</p>
              <p>tears of blood.</p>
              <p>My girl! My girl!</p>
              <p>When your soul is lost,</p>
              <p>come, and I will give you mine!</p>
          </div>
      </div>
    </li>
  </ul>
  <ul class="cicle">
      <h2 class="cicle_name">Dos Lieder</h2>
      <p class="author">(Juan Lacomba)</p>
      <li class="song">
          <h3 class="song_title">1. Ávila</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Ávila dorada y clara</p>
              <p>la meseta se detiene</p>
              <p>al llegar a tu muralla</p>
              <p>se ciñe a tus secas piedras</p>
              <p>se funde con tus plegarias...</p>
              <p>Todo el llano te contempla</p>
              <p>Ávila dorada y clara</p>
              <p>sin una canción dormida</p>
              <p>junto a una ruta de agua...</p>
              <p>tan suave tan callada...</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Golden and clear Ávila,</p>
              <p>the plateau halts</p>
              <p>upon reaching your wall,</p>
              <p>it clings to your dry stones,</p>
              <p>it merges with your prayers...</p>
              <p>The entire plain beholds you,</p>
              <p>Golden and clear Ávila,</p>
              <p>without a sleeping song,</p>
              <p>next to a water route...</p>
              <p>so gentle, so quiet...</p>
            </div>        
          </div>
      </li>
      <li class="song">
          <h3 class="song_title">2. Montesa</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Montesa cara a la vega</p>
              <p>su espalda sobre Castilla yerma.</p>
              <p>Siglos de fe se consumen</p>
              <p>en torno a una espera eterna.</p>
              <p>Para caminos de sol</p>
              <p>para sendas marineras</p>
              <p>no nacieron sus montañas</p>
              <p>su castillo no naciera.</p>
              <p>Ni naranjas ni rosales</p>
              <p>ni hierbabuena ni adelfas.</p>
              <p>Voz de hierro, voz de gesta,</p>
              <p>airón de gloria lejana</p>
              <p>enterrada en la Edad Media.</p>
              <p>Montesa cara a la vega.</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Montesa facing the plain,</p>
              <p>its back upon barren Castile.</p>
              <p>Centuries of faith are consumed</p>
              <p>around an eternal wait.</p>
              <p>For paths of sun,</p>
              <p>for seafaring trails,</p>
              <p>its mountains were not born,</p>
              <p>its castle was not born.</p>
              <p>Neither oranges nor roses,</p>
              <p>nor mint nor oleanders.</p>
              <p>Voice of iron, voice of epic,</p>
              <p>a distant glory's cry,</p>
              <p>buried in the Middle Ages.</p>
              <p>Montesa facing the plain.</p>
            </div>        
          </div>
      </li>
  </ul>
  <ul class="cicle">
      <h2 class="cicle_name">Del Oriente lejano</h2>
      <li class="song">
          <h3 class="song_title">1. Improvisación</h3>
          <p class="author">(Li-Tai-Pe, siglo XVI)</p>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Nube es tu vestido y flor tu rostro.</p>
              <p>¡Ah, perfumada, querida primavera!</p>
              <p>Si ella está arriba, en el monte,</p>
              <p>no osaré la ascensión.</p>
              <p>Cuando se consagre a la luna,</p>
              <p>yo estaré lejos, querida primavera.</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Your garment is a cloud, and your face a flower.</p>
              <p>Oh, fragrant, beloved spring!</p>
              <p>If she is up on the mountain,</p>
              <p>I dare not ascend.</p>
              <p>When she devotes herself to the moon,</p>
              <p>I will be far away, beloved spring.</p>
            </div>               
          </div>
      </li>
      <li class="song">
          <h3 class="song_title">2. Lírica japonesa</h3>
          <p class="author">(Anónimo japonés, siglo XVI)</p>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Al desprenderse un pétalo de la flor,</p>
              <p>sube de nuevo a la rama.</p>
              <p>¡Es una mariposa!</p>
              <p>Cuando la garza se mantiene inmóvil,</p>
              <p>si no fuera por su delgado grito</p>
              <p>diríase que es una mancha de nieve.</p>
              <p>¡Cuán vivamente nos seducen</p>
              <p>entre el perfume del ciruelo en flor</p>
              <p>las notas de la flauta!</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>When a petal falls from the flower,</p>
              <p>it rises again to the branch.</p>
              <p>It's a butterfly!</p>
              <p>When the heron remains still,</p>
              <p>if not for its faint cry,</p>
              <p>one might think it's a spot of snow.</p>
              <p>How vividly they seduce us</p>
              <p>among the fragrance of plum blossoms</p>
              <p>the notes of the flute!</p>
            </div>               
          </div>
      </li>
  </ul>
  <ul class="cicle">
      <h2 class="cicle_name">Paréntesis lírico</h2>
      <p class="author">(Vicente E. Pertegaz)</p>
      <li class="song">
          <h3 class="song_title">1. Imperceptible</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Los párpados de la noche</p>
              <p>cerraron la tarde lentamente.</p>
              <p>Con la luz huyeron los tiranos colores</p>
              <p>y la huerta, hembra libre,</p>
              <p>avara y sumisa rinde caricias</p>
              <p>de aromas y música</p>
              <p>apenas perceptibles.</p>
              <p>Aquí está la huerta profunda.</p>
              <p>Llegó, por fin, la hora del alma.</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>The night's eyelids</p>
              <p>slowly closed the evening.</p>
              <p>With the light, the tyrant colors fled</p>
              <p>and the garden, a free female,</p>
              <p>greedy and submissive, yields caresses</p>
              <p>of barely perceptible scents and music.</p>
              <p>Here is the deep garden.</p>
              <p>At last, the hour of the soul has come.</p>
            </div>             
          </div>
      </li>
      <li class="song">
          <h3 class="song_title">2. Noria vieja</h3>
          <div class="translations">
            <div class="song_text">
              <p class="lang">(ES)</p>
              <p>Rodaba tu juventud</p>
              <p>cantos de vida.</p>
              <p>Subía por tus peldaños</p>
              <p>la cristalina alegría</p>
              <p>espejo de las estrellas.</p>
              <p>Hacia el sinfín de tu órbita</p>
              <p>huían largos los gritos</p>
              <p>por tu boca de engranaje.</p>
              <p>¡Gira que gira! ¡Rueda que rueda!</p>
              <p>¡Todo lo llevó el viento!</p>
              <p>En tu presente callado,</p>
              <p>sólo el silencio evoca tu canción vieja.</p>
              <p>¡Duerme que duerme! ¡Quieta que</p>
              <p>quieta!</p>
              <p>Cien ataúdes penden</p>
              <p>sobre tu agua muerta.</p>
            </div>
            <div class="song_text">
              <p class="lang">(EN)</p>
              <p>Your youth was rolling</p>
              <p>songs of life.</p>
              <p>Climbed your steps</p>
              <p>the crystalline joy</p>
              <p>mirror of the stars.</p>
              <p>Towards the endless of your orbit</p>
              <p>the cries fled far</p>
              <p>through your gear-like mouth.</p>
              <p>Spin and spin! Roll and roll!</p>
              <p>Everything was carried away by the wind!</p>
              <p>In your silent present,</p>
              <p>only silence recalls your old song.</p>
              <p>Sleep and sleep! Still and still!</p>
              <p>A hundred coffins hang</p>
              <p>over your lifeless water.</p>
            </div>                       
          </div>
      </li>
      <li class="song">
        <h3 class="song_title">3. Lluvia</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Sobre los tejados</p>
            <p>verdes y planos</p>
            <p>de una ciudad que existe</p>
            <p>debajo de la huerta,</p>
            <p>cae la sonora rosa del cielo.</p>
            <p>Resbala el agua entre las tejas</p>
            <p>y por los aleros cae a los canales,</p>
            <p>antiguas acequias.</p>
            <p>Todo transformado;</p>
            <p>luz y colores.</p>
            <p>Sólo irreductibles</p>
            <p>quedan las palmeras,</p>
            <p>altas chimeneas</p>
            <p>con penachos de humo</p>
            <p>de fábricas quiméricas.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>Above the rooftops</p>
            <p>green and flat</p>
            <p>of a city that exists</p>
            <p>beneath the garden,</p>
            <p>falls the resounding rose of the sky.</p>
            <p>Water slides between the tiles</p>
            <p>and from the eaves it falls into the canals,</p>
            <p>ancient channels.</p>
            <p>Everything transformed;</p>
            <p>light and colors.</p>
            <p>Only the unyielding</p>
            <p>palm trees remain,</p>
            <p>tall chimneys</p>
            <p>with plumes of smoke</p>
            <p>from chimerical factories.</p>
          </div>                       
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">4. Caracolera</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>¡La caracolera...</p>
            <p>la caracolera...!</p>
            <p>La niña saltando va</p>
            <p>por la senda</p>
            <p>con la saya rota</p>
            <p>y la cesta llena.</p>
            <p>¡La caracolera...</p>
            <p>la caracolera...!</p>
            <p>Tres caracolitos</p>
            <p>suben por la trenza</p>
            <p>y dejan caminito</p>
            <p>de babita fresca.</p>
            <p>Suben por la trenza</p>
            <p>que huele a tomillo,</p>
            <p>a romero tierno</p>
            <p>y a rama de yedra.</p>
            <p>¡La caracolera...!</p>
            <p>Llega con el alba</p>
            <p>a la vieja Edeta</p>
            <p>y pregona con gracia</p>
            <p>el botín de su cesta.</p>
            <p>¡La caracolera...!</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The snail seller...</p>
            <p>the snail seller...!</p>
            <p>The girl skips along</p>
            <p>the path</p>
            <p>with her skirt torn</p>
            <p>and her basket full.</p>
            <p>The snail seller...</p>
            <p>the snail seller...!</p>
            <p>Three little snails</p>
            <p>climb up her braid</p>
            <p>and leave a trail</p>
            <p>of fresh slime.</p>
            <p>They climb up the braid</p>
            <p>that smells of thyme,</p>
            <p>tender rosemary,</p>
            <p>and ivy vine.</p>
            <p>The snail seller...!</p>
            <p>She arrives with dawn</p>
            <p>at the old village</p>
            <p>and gracefully announces</p>
            <p>the contents of her basket.</p>
            <p>The snail seller...!</p>
          </div>                          
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">5. Farsa</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>Qué luna, qué luna,</p>
            <p>qué luna tan roja,</p>
            <p>qué cara tan sucia</p>
            <p>qué danza más loca.</p>
            <p>Pendiendo de un hilo</p>
            <p>ella baila una rumba.</p>
            <p>De un grito inoído</p>
            <p>ensaya la mueca.</p>
            <p>La claque en la acequia</p>
            <p>aplaude la escena.</p>
            <p>Candoroso un charco</p>
            <p>enrojece de vergüenza.</p>
            <p>Se ocultan el rostro</p>
            <p>las damas austeras.</p>
            <p>mañana sus hijas</p>
            <p>se visten de luna</p>
            <p>y el color de fuego</p>
            <p>se pone de moda.</p>
            <p>Qué luna, qué luna,</p>
            <p>qué luna tan roja,</p>
            <p>qué cara tan sucia</p>
            <p>qué danza más loca.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>What a moon, what a moon,</p>
            <p>such a red moon,</p>
            <p>such a dirty face,</p>
            <p>such a crazy dance.</p>
            <p>Hanging by a thread,</p>
            <p>she dances a rumba.</p>
            <p>With an unheard cry,</p>
            <p>she practices the grimace.</p>
            <p>The cheering crowd in the ditch</p>
            <p>applauds the scene.</p>
            <p>An innocent puddle</p>
            <p>blushes with shame.</p>
            <p>The stern ladies</p>
            <p>conceal their faces.</p>
            <p>Tomorrow, their daughters</p>
            <p>dress like the moon,</p>
            <p>and the fiery color</p>
            <p>becomes a trend.</p>
            <p>What a moon, what a moon,</p>
            <p>such a red moon,</p>
            <p>such a dirty face,</p>
            <p>such a crazy dance.</p>
          </div>
                                
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">6. Farol</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>De la rota rama</p>
            <p>pende el silencio</p>
            <p>de tu cara pálida.</p>
            <p>El desmayo dulce</p>
            <p>de tu vida lánguida</p>
            <p>trenza reflejos</p>
            <p>con rizos de agua.</p>
            <p>La noche calla.</p>
            <p>Vuelan tus anhelos</p>
            <p>de aurora solitaria.</p>
            <p>Después de unas horas</p>
            <p>tu vida vacila</p>
            <p>y el alma se escapa.</p>
            <p>La noche ya habla.</p>
            <p>Sólo la acequia</p>
            <p>muy queda, muy triste,</p>
            <p>tu responso canta.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>From the broken branch,</p>
            <p>hangs the silence</p>
            <p>of your pale face.</p>
            <p>The sweet faintness</p>
            <p>of your languid life</p>
            <p>braids reflections</p>
            <p>with curls of water.</p>
            <p>The night is silent.</p>
            <p>Your hopes fly</p>
            <p>of a solitary dawn.</p>
            <p>After a few hours,</p>
            <p>your life falters</p>
            <p>and the soul escapes.</p>
            <p>The night now speaks.</p>
            <p>Only the ditch</p>
            <p>very quiet, very sad,</p>
            <p>sings your requiem.</p>
          </div>                              
        </div>
      </li>
      <li class="song">
        <h3 class="song_title">7. Luna muerta</h3>
        <div class="translations">
          <div class="song_text">
            <p class="lang">(ES)</p>
            <p>La luna marcha prisionera</p>
            <p>del ejército gris de las nubes.</p>
            <p>Una flecha de fuego.</p>
            <p>Un doloroso grito</p>
            <p>ronco y largo.</p>
            <p>¡La luna ha muerto!</p>
            <p>Crespones negros</p>
            <p>enlutan el cielo.</p>
            <p>El espacio es lágrima.</p>
            <p>Ocultas las estrellas</p>
            <p>lloran en silencio.</p>
            <p>Las gotas resbalan</p>
            <p>sobre las mejillas tersas</p>
            <p>de los árboles.</p>
            <p>La huerta amante</p>
            <p>recoge las perlas</p>
            <p>en pañuelo verde.</p>
          </div>
          <div class="song_text">
            <p class="lang">(EN)</p>
            <p>The moon marches a prisoner</p>
            <p>of the gray army of clouds.</p>
            <p>An arrow of fire.</p>
            <p>A painful, hoarse</p>
            <p>and long cry.</p>
            <p>The moon has died!</p>
            <p>Black crepes</p>
            <p>mourn the sky.</p>
          
            <p>Space is a tear.</p>
            <p>Hidden, the stars</p>
            <p>weep in silence.</p>
            <p>The drops slide</p>
            <p>on the smooth cheeks</p>
            <p>of the trees.</p>
            <p>The loving garden</p>
            <p>collects the pearls</p>
            <p>in a green handkerchief.</p>
          </div>                             
        </div>
      </li>
  </ul>
</div>
<div class="mask">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>
</section>
<style lang="css">
  .leters{
    display: flex;
    justify-content: center;
    position: relative;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transaparent;
    z-index: 3;
  }
  .star{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    border-bottom: 5px solid white; /* You can change the color here */
    margin: 2.5px auto;
    z-index: 3
  }
  .star::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
    border-top: 5px solid white; /* You can change the color here */
    position: absolute;
    top: 1.75px;
    left: -2.5px;
}
  .leters .title{
    text-align: center;
  }
  .cicle {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }
  .cicle_name{
    font-size: 20px;
    color: #ffff;
  }
  .song{
    margin: 1rem 0;
    font-size: 14px;
    color: #fff;
  }
  .song_title{
    font-size: 16px;
    font-weight: normal;
  }
  .translations {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
    margin: 2rem 0;
  }
  .song_text {
    padding: 0 1rem;
    box-sizing: border-box;
    width: 50%;
  }
  .lang{
    font-weight: lighter;
  }
  .author{
    font-weight: 300;
    color: var(--light-color);
  }
</style>
<script is:inline>
  // Obtén todos los elementos con la clase '.star'
const stars3 = document.querySelectorAll('.star');


// Aplica las posiciones a los elementos '.star'
stars3.forEach((star, index) => {
  const randomTopPercentage =5 + Math.random() * 100 - 5;
  const randomLeftPercentage = Math.random() < 0.5 ? Math.random() * 30 : 60 + Math.random() * 30;
  const randomAnimationDuration = 3 + Math.random() * 3;

  star.style.animation = `blink ${randomAnimationDuration}s infinite`;
  star.style.left = randomLeftPercentage + '%';
  star.style.top = randomTopPercentage + '%';
});
</script>