<section id="noticias" class="news">
    <div class="container">
        <h2 class="title">Noticias destacadas</h2>
        <ul class="news_list">
            <li>
                <a class="new link" target="_blank" href="https://www.melomanodigital.com/resena-luna-clara/">
                    <h3 class="new_title">Reseña | Luna Clara, Melómano de Oro</h3>
                    <span class="new_tag">Reseña</span>
                    <p class="new_resume">Gracias al trabajo de algunos intérpretes, vamos conociendo la riqueza de nuestro patrimonio en el terreno de la canción de concierto. En esta ocasión la soprano Mar Morán y el pianista Aurelio Viribay abordan la integral de las canciones del navarro Jesús...</p>
                    <p class="new_paper">Melómano Digital</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.rtve.es/alacarta/audios/artesfera/artesfera-soprano-mar-moran-presenta-luna-clara-05-05-21/5895603/?fbclid=IwAR11ym8SYNQvnKbBIXjdanht8y7oCcgCTzq4IzUfMRoMxez_zyqUfs4iJLw">
                    <h3 class="new_title">La soprano Mar Morán nos presenta 'Luna clara'</h3>
                    <span class="new_tag">Entrevista</span>
                    <p class="new_resume">Mar Morán y Aurelio Viribay han reunido canciones de García Leoz en 'Luna Clara'. Reivindica el trabajo de...</p>
                    <p class="new_paper">Artesfera - RTVE</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.liederabend.cat/en/bloc/entrades/1098-about-record-labels-and-newborns?fbclid=IwAR1szhLGMLhxgi7nSVo1HiKmtC7T39S_5ge6276YQLquqwmU0iz8D7Qgzog">
                    <h3 class="new_title">About record labels (and newborns)</h3>
                    <span class="new_tag">Articulo</span>
                    <p class="new_paper">Liederabend</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.diariodesevilla.es/mapademusicas/Mar_Moran-entrevista-Garcia_Leoz_0_1552646453.html">
                    <h3 class="new_title">"Las canciones de García Leoz recuerdan mucho a Turina"</h3>
                    <span class="new_tag">Entrevista</span>
                    <p class="new_resume">Acompañada por el pianista Aurelio Viribay, la soprano extremeña Mar Morán ha registrado para el sello americano Odradek la integral de canciones de Jesús García Leoz</p>
                    <p class="new_paper">Diario de Sevilla</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://revistaindie.com/mar-moran-y-aurelio-viribay/?fbclid=IwAR2e3Zo4P6ibIXghNbrsO_HzTur4m7-FRoZrta3fewMjEYGX6sAqDAaqYdY">
                    <h3 class="new_title">MAR MORÁN Y AURELIO VIRIBAY, Disco del verano del mes de Julio</h3>
                    <span class="new_tag">Entrevista</span>
                    <p class="new_resume">resentamos “Luna Clara” (Odradek Records, 2020) como el disco del mes de julio. Dedicado al compositor navarro Jesús García Leoz, la soprano Mar Morán...</p>
                    <p class="new_paper">Revista Indie</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.plateamagazine.com/discos/10624-la-soprano-mar-moran-dedica-su-debut-discografico-a-las-canciones-de-jesus-garcia-leoz-con-aurelio-viribay-al-piano?fbclid=IwAR3kEorEpzYjn7xMseMs4v1x2WGXes79o-9Dt1VKOCudAMcZW89v0t3cdbY">
                    <h3 class="new_title">La soprano Mar Morán dedica su debut discográfico a las canciones de Jesús García Leoz, con Aurelio Viribay al piano.</h3>
                    <span class="new_tag">Entrevista</span>
                    <p class="new_paper">Platea Magazine</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.youtube.com/watch?v=Yf4Ug7mot38&ab_channel=MarMor%C3%A1n">
                    <h3 class="new_title">Presentación oficial Luna Clara</h3>
                    <span class="new_tag">Presentación</span>
                    <p class="new_resume">Acto de presentación de "Luna Clara" el 12/02/2021 en la Escuela Superior de canto de Madrid</p>
                </a>
            </li>
            <li>
                <a class="new link" target="_blank" href="https://www.rtve.es/alacarta/audios/la-darsena/entrevista-mar-moran/5774376/?fbclid=IwAR1sm-d1RJN7cb-HYFSbnSqIY6X5HSG94Lwl8tNanFkY7IKJGq0DCnkr-C0">
                    <h3 class="new_title">Mar Morán - Canciones de Jesús García Leoz</h3>
                    <span class="new_tag">Entrevista</span>
                    <p class="new_resume">Recibiremos a la joven soprano Mar Morán, quien acaba de publicar un disco en compañía de Aurelio Viribay, con la integral de canciones de Jesús García Leoz.</p>
                    <p class="new_paper">La Darsena - RTVE</p>
                </a>
            </li>
        </ul>
    </div>
</section>
<style>
    .link:hover .new_title, .link:hover .new_paper{
        text-decoration: underline;
        color: #fff;

    }
    .link:hover .new_tag{
        background: #fff;
        color: #000;
    }
    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .new_title{
        padding: 5px 0;
    }
    .news_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        padding: 0;
        text-align: left;
        width: 100%;
        max-width: 1000px;
    }
    .news_list li{
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
    .new_resume {
        font-size: 14px;
        font-weight: 200;
        margin-top: 1.5rem;
    }
    .new_tag{
        background: #7f8294;
        margin-left: 5px;
        padding: 5px;
        border-radius: 20px;
        font-size: 10px;
    }
    .new_paper{
        font-size: 14px;
        font-weight: 300;
        text-align: right;
        margin-top: 1rem
    }

</style>