<section class="program_notes">
    <h1 class="title">Notas al programa</h1>
    <div class="container">
        <h3 class="subtitle">MANUEL PALAU: 29 CANCIONES</h3>
        <div class="column-container justify">
            <p>Por su excepcional calidad y originalidad la extensa producción para voz y piano del
                compositor valenciano Manuel Palau (1893-1967) ocupa un lugar de especial relevan-
                cia en la evolución de la canción de concierto española a lo largo de los dos primeros
                tercios del siglo XX. El maestro de Alfara del Patriarca expresó reiteradamente su
                af inidad y predilección por un género del que se ocupó ininterrumpidamente y con
                especial dedicación a lo largo de su dilatada trayectoria compositiva y al que prefería
                referirse como Lied por entenderlo como f ruto de la completa fusión entre poesía y
                música. Si bien en esta importante parcela de su obra encontramos canciones con
                textos en galaico-portugués, gallego, brasileño, f rancés y alemán, el grueso de su
                obra liederística se basa en textos valencianos y castellanos, las dos lenguas que Palau
                utilizaba asiduamente. Esta grabación se ha centrado en su producción en castella-
                no, con la excepción de una canción en gallego, presentando veintinueve canciones
                compuestas entre 1924 y 1955 cuya sorprendente y rica disparidad estética revela un
                original eclecticismo como principal rasgo estilístico de la obra para voz y piano de
                Manuel Palau.</p>
            <p>El primer bloque de canciones refleja la mirada al pasado del compositor, ejemplif i-
                cada en un estilo neoclásico en lo musical y en la utilización de textos antiguos en lo
                literario. Cinco de los Seis Lieder que abren esta selección ponen música a textos del
                Cancionero anónimo de la Edad Media mientras que la primera canción del grupo,
                Por el montecico sola, se basa en un texto de Lope de Vega en el que la temerosa
                inquietud de la protagonista abandonada es traducida con gran belleza por el compo-
                sitor. La galería de personajes femeninos de este grupo de canciones continúa con el
                crudo dramatismo de Gritos daba la morenica, la desolada tristeza de la enamorada
                en Mal ferida iba la garza o la presuntuosa autoalabanza de La flor de la villa. Para
                los textos ¿Con qué la lavaré? y De los álamos vengo, madre, tan difundidos en las
                recreaciones que Joaquín Rodrigo hace de ellos en sus célebres Cuatro madrigales
                amatorios, Palau no recurre a citas musicales preexistentes sino que utiliza música de nueva creación: desnudos acordes pianísticos subrayan la solitaria tristeza de la
                protagonista en la primera canción mientras un movimiento continuo de dinámicas
                semicorcheas dibuja la agitación de las hojas de los álamos movidas por el viento en
                la segunda.</p>
            <p class="text-item hidden">Continuando con la mirada de Palau a épocas pretéritas el Cancionero de Uppsala es
                la base de la segunda de las Dos canciones amatorias, titulada Ya no más, mientras
                que la primera, No me habléis, conde, recrea un texto anónimo del siglo XVI. Tanto en
                el citado díptico como en la inspirada canción basada también en un texto anónimo
                del siglo XVI, titulada ¿Qué sentís, coraçón mío?, el compositor logra transportar al
                oyente a la época de los textos cantados utilizando un lenguaje tan sencillo como
                atractivo.</p>
                <p class="text-item hidden">Las dos canciones siguientes, Elegía al Caballero de Olmedo y Villancico se basan
                    en textos de Lope de Vega. La extensa introducción pianística de la primera con sus
                    llamadas de trompetería nos sitúa ineludiblemente en el contexto de la época de sus
                    versos y prepara el ambiente dramático que expone la voz en una escritura vocal muy
                    exigente. Muy contrastante en carácter es la segunda, íntima, tierna y delicada, como
                    corresponde a una canción de cuna de contexto navideño.</p>
                <p class="text-item hidden">Dejando ya la mirada al pasado español y el lenguaje neoclásico con los que Pa-
                    lau muestra sentirse tan cómodo, como se comprueba en las canciones precedentes,
                    con La Virgen va caminando nos adentramos en lenguajes musicales diferentes, que
                    muestran la extraordinaria versatilidad del compositor valenciano. La citada canción
                    toma el texto de una copla popular malagueña, respondiendo igualmente su música al
                    carácter popular de los versos cantados, ricamente arropados por un piano sutilmente
                    envolvente. Por su parte La palmera, segunda de las Dos canciones de Navidad, no
                    sólo es una de las joyas de la producción de canciones de Manuel Palau sino una de
                    las más bellas canciones de concierto españolas del siglo XX; la ternura del poema de
                    Gerardo Diego nos llega a través de una delicada e inspirada línea vocal apoyada en
                    un piano de llamativo colorido armónico.</p>
                <p class="text-item hidden">En Partida el compositor recurre a un lenguaje neorromántico de dilatadas f rases
                    cantadas para expresar la tristeza por el marinero que no retornará, protagonista del
                    desesperanzado poema de Lluís Guarner Pérez. La poesía de José María Pemán es la
                    base de Arroyuelo del molino, canción en la que la sencillez melódica se apoya en
                    claras armonías creadas por el constante pulso de corcheas de la parte pianística,
                    dando lugar a una composición de gran encanto. Única canción en gallego del disco,
                    Chove, sobre un desolador poema de José Ramón Fernández-Oxea, pertenece a la
                    colección de canciones gallegas encargadas por el crítico Antonio Fernández-Cid a
                    diferentes compositores españoles. Utiliza un lenguaje impresionista que describe
                    musicalmente la lluvia en las corcheas iniciales de una parte pianística que adquiere
                    paulatinamente una complejidad paralela a la exigente parte cantada.</p>
                <p class="text-item hidden">Chiquilla y Tonadilla, cuyo estilo se mueve en el sutil f ilo entre la canción de concier-
                    to y la canción ligera, se encuentran entre las primeras canciones de Palau y ambas
                    están basadas en textos de la colección poética Mil y un cantares de Estanislao Al-
                    berola. Chiquilla es una copla muy cercana a la “españolada”, quizás con el ánimo de
                    Palau de llamar la atención de un público foráneo ávido de tópicos costumbristas de
                    carácter españolizante, de los que también participa Tonadilla. Se trata de dos ejem-
                    plos de la creación temprana de Palau, quien no sin cierto pesar consideraba buena
                    parte de las canciones de su primera época como “ pecados de juventud”.</p>
                <p class="text-item hidden">Un notable salto estilístico respecto a estas dos canciones se puede percibir en Ávila y
                    Montesa, sobre poemas de Juan Lacomba, inicialmente pertenecientes a la colección
                    de cinco Evocaciones de España y posteriormente publicadas como Dos Lieder. Palau
                    recrea musicalmente las dos ciudades evocadas en los textos de Lacomba transpor-
                    tando al oyente tanto a la Montesa medieval, con sus fanfarrias y trompetas, como a
                    la austeridad de la llanura castellana de Ávila. La influencia de la música f rancesa es
                    patente en el colorido de estas canciones compuestas tras los estudios de Palau con
                    el compositor Charles Koechlin.</p>
                <p class="text-item hidden">En el díptico Del Oriente lejano Palau se rinde a la influencia del exotismo orientalis-
                    ta, al igual que tantos compositores coetáneos cuya fascinación por Oriente les llevó
                    a escribir canciones basadas en esta temática, como Trois poèmes de la lyrique japo-
                    naise de Stravinsky, Shéhérazade de Ravel, Quatre poèmes hindous de Maurice Dela-
                    ge, Deux poèmes chinois de Albert Roussel, el grupo de cuatro breves Poesías japo-
                    nesas del madrileño Julio Gómez o el tríptico La flûte de jade del también madrileño
                    Julián Bautista. En la primera canción de su díptico —Improvisación— Manuel Palau
                    pone música a un texto del poeta chino Li-Tai-Pe y en la segunda —Lírica japonesa—
                    recurre a un anónimo japonés del siglo XVI, utilizando en ambos casos la traducción
                    al castellano revestida de un lenguaje musical de claras tendencias impresionistas, un
                    estilo cuya influencia fue abiertamente reconocida por el compositor.</p>
                <p class="text-item hidden">Manuel Palau se sentía especialmente satisfecho del ciclo Paréntesis lírico, cuyo
                    lenguaje musical evoluciona notablemente adquiriendo una mayor complejidad. Los
                    textos de Vicente E. Pertegaz referidos al entorno de una huerta valenciana —la noria,
                    un farol, la lluvia, la noche, la luna o la niña que recoge caracoles— dan lugar a una
                    música tan descriptiva como sugerente que abarca una amplísima gama de registros
                    expresivos. En lo musical Palau desarrolla un despliegue de recursos compositivos
                    muy variados y originales, como la sonoridad impresionista de Imperceptible, el cro-
                    matismo expresionista de Noria vieja, la tendencia atonal de Lluvia, la ingenua sen-
                    cillez tonal de Caracolera, la cita del Dies Irae en Farol, la habanera bitonal de Farsa
                    o la marcha de carácter surrealista de Luna muerta, que cierra brillantemente esta
                    antología con una de las canciones más sorprendentes del repertorio lírico español
                    del siglo XX.</p>

        </div>
        <h3 class="subtitle sign">Aurelio Viribay.</h3>
    </div>
    <button data-text-button class="read_less">Leer Más</button>

</section>
<style>
    .program_notes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .program_notes .container{
        position: relative;
    }
    .program_notes .title{
        margin: 2rem 0;
    }
    .sign{
        position: absolute;
        right: 0;
        margin: 1rem 0;
    }
    .column-container {
        font-size: 12px;
        column-count: 2; /* Divide el contenido en dos columnas */
        column-gap: 20px; /* Espacio entre columnas */
        column-rule: 1px solid #ddd; /* Línea divisoria entre columnas */
        padding: 10px; /* Espacio interior del contenedor */
    }
    .column-container p{
        margin-bottom: 16px;
    }
    .read_less{
        display: none;
        color: #4e7ee:e;
        background: transparent;
        border: none;
        margin-top: 3rem;
        cursor: pointer;
        padding: 0.5rem;
        color: #fff;
        border-radius: 25px;
    }
    .read_less:hover {
        background: #ffffffb9;
        color: #000
    }

@media screen and (max-width: 850px) {
    section.program_notes{
        padding: 1rem;
    }
    .column-container{
        padding: 0;
        column-count: 1;
    }
    .hidden{
        display: none;
    }
    .read_less{
        display: block;
    }
}
</style>
<script>
    const button = document.querySelector('[data-text-button]');
    if(button){
        button.addEventListener('click', () => {
            const textItems = document.querySelectorAll('.text-item');
            textItems.forEach((item) => {
                if (item && item.classList.contains('hidden')) {
                    item.classList.remove('hidden');
                    button.textContent = 'Leer menos';
                } else {
                    item.classList.add('hidden');
                    button.textContent = 'Leer más';
                }
            })
        });
    }
</script>