<section id="notas" class="program_notes">
    <h1 class="title">Notas al programa</h1>
    <div class="container">
        <h3 class="subtitle">El Tríptico de García Leoz y otras dieciocho canciones</h3>
        <div class="column-container justify">
            <p>El caso del éxito, tan merecido como comprensible,
                del inspirado y atractivo Tríptico de canciones de
                Jesús García Leoz (1904-1953) ha contribuido a
                difundir el nombre de este compositor más allá
                de su fama como compositor de bandas sonoras
                cinematográficas, pero también ha contribuido a
                eclipsar el resto de su producción de canciones
                de concierto, de altísima calidad. El variado rango
                estilístico de su producción en este campo abarca
                desde el popularismo hasta las texturas diáfanas
                y preciosistas cercanas al estilo de Maurice Ravel,
                pasando por algunas de las más importantes
                corrientes estilísticas de la primera mitad del
                siglo XX como neoclasicismo, nacionalismo,
                impresionismo o expresionismo. La inagotable
                inspiración de García Leoz produce canciones
                tan personales como diferenciadas entre sí en
                función del texto poético que les sirve de base,
                adaptándose de forma camaleónica a los versos
                de diferentes poetas como Juan Paredes, Federico
                García Lorca, Antonio Machado, Juan Ramón
                Jiménez, Gerardo Diego, Rafael Alberti y Rosalía
                de Castro.</p>
            <p>Resulta inevitable comenzar hablando del Tríptico
                de canciones (1937), tres breves miniaturas con
                textos extraídos de la obra de guiñol de Federico
                García Lorca titulada Los títeres de cachiporra, para
                los que García Leoz acierta con un estilo inspirado
                en el folclore popular. En la primera canción, Por el
                aire van, con un simple cambio de modo mayor a
                menor el compositor logra el pequeño milagro de poner en relieve la ambivalencia latente en la frase
                “Por el aire van los suspiros de mi amante” y nos
                sugiere el paso de la exaltación del sentimiento
                amoroso y la cercanía del amante en el modo mayor
                a la desolación por su lejanía en el modo menor.
                Esta canción de movimiento reposado contrasta
                con las dos siguientes, De Cádiz a Gibraltar, en
                animado ritmo de petenera y A la flor, a la pitiflor, en
                dinámico ritmo de seguidilla. Los ritmos populares,
                la expresión directa y sencilla y el carácter brillante
                han convertido con toda justicia a este tríptico en
                favorito de público e intérpretes.</p>
            <p class="text-item hidden">Tres años antes del Tríptico compone García
                Leoz las Cinco canciones (1934) sobre poemas
                de Juan Paredes, mucho menos conocidas pero
                igualmente inspiradas, eficaces y de muy atractiva
                escucha. La excelente factura tanto de la escritura
                vocal como de la pianística, el contraste entre las
                canciones y el tono directo de su expresión hacen
                de este atractivo grupo un éxito seguro en recitales
                vocales. Dos canciones de este grupo, Mañana,
                como es de fiesta y Pregón, presentan un carácter
                popular, rítmico, animado y extrovertido, que
                contrasta con el carácter melancólico e intimista
                de La niña sola y Romance. A medio camino se
                sitúa la primera canción, Luna clara, en la que
                el diálogo del solitario protagonista con la luna
                alterna pasajes animados con otros más lentos.
                Respecto a las dos canciones lentas, Romance
                presenta una evocación musical del ambiente
                medieval, mientras La niña sola es una de las más inspiradas y bellas canciones líricas españolas del
                siglo XX. Imposible no pensar aquí en el poema
                de Luis de Góngora Lloraba la niña, puesto en
                música por Enrique Granados en una de sus
                Canciones amatorias. La melancólica expresividad
                lograda tanto por Granados como por García
                Leoz en sus respectivas canciones va a la par, y
                en ambos casos la tristeza de la joven muchacha
                abandonada da pie a una música de íntimo pero
                intenso y conmovedor lirismo.</p>
                <p class="text-item hidden">Entre estos dos grupos de canciones y los dos
                    siguientes –Dos canciones (1939) sobre poemas
                    de Juan Ramón Jiménez y Seis canciones (1952)
                    sobre poemas de Antonio Machado– media un
                    salto estilístico muy relevante, consolidándose el
                    estilo maduro de García Leoz en este género, muy
                    especialmente en el grupo de Machado. Para las
                    Dos canciones García Leoz escoge dos poemas de
                    Juan Ramón Jiménez en los que la naturaleza está
                    muy presente, lo que da pie al compositor a utilizar
                    un desarrollo muy libre con un estilo descriptivo
                    cercano por momentos al impresionismo. Verde,
                    verderol, primera de las canciones de este díptico,
                    comienza con una introducción pianística que
                    evoca el canto del verderol, representado con
                    arpegios y trinos en un acompañamiento por otro
                    lado reducido a lo esencial, que deja a la delicada
                    parte vocal la tarea de evocar la puesta de sol en
                    un pinar con el sonido del canto de ese pájaro. La
                    canción más impresionista de García Leoz, El mar
                    lejano, segunda de este original díptico, dibuja un
                    paisaje vespertino en el que el agua, tanto en forma
                    de fuente como de mar, es la protagonista. En su evocación acuosa García Leoz hace uso de un
                    lenguaje pianístico que inevitablemente recuerda
                    a las sonoridades de Ravel. Si el cristalino preludio
                    pianístico evoca el agua de la fuente, en los dos
                    interludios escuchamos el mar lejano aderezado
                    con algún choque disonante que podría aludir al
                    batir de las olas contra la costa. El canto del verdón
                    aparece al final del segundo interludio pianístico,
                    que da paso a que la voz exprese las sensaciones
                    provocadas por el paisaje marino.</p>
                <p class="text-item hidden">Entre los poetas favoritos de García Leoz se
                    encontraba Antonio Machado, a cuya obra dedica
                    su último grupo de canciones, estrenado poco
                    antes del fallecimiento del compositor. En sus
                    Seis canciones (1952) encontramos su estilo
                    más maduro y personal y una estructura que
                    responde a la del Lied desarrollado de forma muy
                    libre. El compositor utiliza elementos musicales
                    descriptivos para realzar diversos aspectos
                    presentes en los textos seleccionados: nuevamente
                    un piano de estilo raveliano para evocar el agua
                    y el giro de la rueda en La noria; la lentitud de la
                    palabras ‘campo, campo, campo’ con las que la
                    voz recrea el vuelo de la lechuza sobre los anchos
                    campos; o el casi recitativo con el que el canto
                    encarna el mágico momento de las palabras de la
                    Virgen en San Cristobalón. Ocasionales referencias
                    popularistas encontramos en el carácter rítmico
                    de Cantares del Duero, en Hay fiesta en el prado
                    verde y en la animada parte central de corte
                    andalucista de Canción galante. Cercana a un
                    lenguaje con tintes más expresionistas es la parte
                    vocal de Llamó a mi corazón, una de las canciones de mayor intensidad emocional del compositor
                    navarro, que en ocasiones demanda al cantante
                    un estilo declamado para expresar el dramático
                    contenido del poema. La citada amalgama de
                    estilos da lugar a uno de los grupos de canciones
                    más interesantes y de mayor calidad de la canción
                    lírica española del siglo XX.</p>
                <p class="text-item hidden">Cinco canciones independientes completan la
                    producción de García Leoz en el campo de la
                    canción de concierto. Para Canción de Cuna
                    (1941) utiliza un poema de su amigo Rafael Alberti,
                    que el poeta dedicó a su hija Aitana Alberti. Se trata
                    de una composición en la que prevalece el carácter
                    dulce, propio de una nana, tema que aparece
                    con mucha frecuencia en la canción de concierto
                    española del siglo XX. Otro de los temas recurrentes
                    de este género es la Navidad, representada aquí
                    por Villancico (1949), compuesta sobre un poema
                    de Gerardo Diego, gran amante y conocedor de
                    la música, que mantuvo una buena relación de
                    amistad con García Leoz. La canción se compone
                    de tres estrofas en cada una de las cuales contrasta
                    una primera sección de carácter declamado con
                    inquietas preguntas que son respondidas en una
                    segunda sección de carácter melódico y amable.
                    O meu corasón che mando (1951) pone música a
                    un poema en lengua gallega de Rosalía de Castro
                    y forma parte del amplio grupo de canciones gallegas que el crítico y musicólogo Antonio
                    Fernández-Cid encargó a diversos compositores
                    españoles. La respuesta de García Leoz a este
                    encargo se materializa en una de sus más bellas
                    y emotivas canciones. Para expresar la amargura
                    y el reproche de la protagonista a su amado, el
                    compositor utiliza una estructura tripartita con dos
                    secciones lentas que enmarcan una parte central
                    más dinámica de desarrollo muy libre, dando lugar
                    a una canción tan original como conmovedora.</p>
                <p class="text-item hidden">Las dos canciones restantes no pertenecen al
                    género de la canción de concierto. Serranilla (1949)
                    fue compuesta originalmente como romanza de La
                    duquesa del candil, zarzuela de García Leoz sobre
                    libreto de los hermanos Fernández Shaw, pero la
                    costumbre de interpretarla en recitales vocales
                    y su publicación junto al resto de canciones
                    del compositor ha hecho que finalmente haya
                    quedado asimilada como una canción más. Por
                    su parte el origen de la Canción de la Malibrán
                    (1951) es un film homónimo, de cuya banda
                    sonora –compuesta por García Leoz– forma parte
                    esta obra tan exigente vocalmente como algunas
                    de las más difíciles romanzas de zarzuela, y que
                    sirve para cerrar con brillantez esta grabación de
                    la integral de canciones para voz y piano de Jesús
                    García Leoz.</p>
        </div>
        <h3 class="subtitle sign">Aurelio Viribay.</h3>
    </div>
    <button data-text-button class="read_less">Leer Más</button>

</section>
<style>
    .program_notes{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }
    .program_notes .container{
        position: relative;
    }
    .program_notes .title{
        margin: 2rem 0;
    }
    .sign{
        position: absolute;
        right: 0;
        margin: 1rem 0;
    }
    .column-container {
        font-size: 12px;
        column-count: 2; /* Divide el contenido en dos columnas */
        column-gap: 20px; /* Espacio entre columnas */
        column-rule: 1px solid #ddd; /* Línea divisoria entre columnas */
        padding: 10px; /* Espacio interior del contenedor */
    }
    .column-container p{
        margin-bottom: 16px;
    }
    .read_less{
        display: none;
        color: #4e7ee:e;
        background: transparent;
        border: none;
        margin-top: 3rem;
        cursor: pointer;
        padding: 0.5rem;
        color: #fff;
        border-radius: 25px;
    }
    .read_less:hover {
        background: #ffffffb9;
        color: #000
    }

@media screen and (max-width: 850px) {
    section.program_notes{
        padding: 1rem;
    }
    .column-container{
        padding: 0;
        column-count: 1;
    }
    .hidden{
        display: none;
    }
    .read_less{
        display: block;
    }
}
</style>
<script>
    const button = document.querySelector('[data-text-button]');
    if(button){
        button.addEventListener('click', () => {
            const textItems = document.querySelectorAll('.text-item');
            textItems.forEach((item) => {
                if (item && item.classList.contains('hidden')) {
                    item.classList.remove('hidden');
                    button.textContent = 'Leer menos';
                } else {
                    item.classList.add('hidden');
                    button.textContent = 'Leer más';
                }
            })
        });
    }
</script>